
{% extends "base.twig" %}
{% set headerClass = "header-light" %}

{# {% if post.thumbnail.src is empty %}
  {% set headerClass = "position-relative" %}
{% endif %} #}

{% block content %}
  {% include 'partial/featured-header.twig' %}

	<div class="inner-wrapper">
		<article class="post-type-{{post.post_type}} page-restoration" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading">
					<h3 class="title">{{post.title}}</h3>
				</div>

				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>

    <div class="section-heading">
      <h3 class="title">FROM THE SHOP FLOOR</h3>
    </div>

    {% if post.meta('from_the_shop_floor_image')  %}
      <img src="{{ post.meta('from_the_shop_floor_image') }}" width="100%">
      {# <div class="featured" style="--bg-image: url({{  }});"></div> #}
    {% else %}
      <img class="shop-floor-image" src="{{ site.theme.link }}/dist/assets/img/Restoration_Main_Image.png" width="100%">
      {# <div class="featured" style="--bg-image: url('{{ site.theme.link }}/dist/assets/img/restoration-default.jpeg');"></div> #}
    {% endif %}

    {% include 'partial/instagram-section.twig' %}
	</div><!-- /content-wrapper -->
{% endblock %}
