
{% extends "base.twig" %}

{% block content %}
  {% include 'partial/featured-header.twig' with { hideInquiry: true } %}

	<div class="inner-wrapper">

		<article class="post-type-{{post.post_type}} page-about" id="post-{{post.ID}}">
      <div class="section-heading mb-4">
        <h3 class="title">{{ post.title }}</h3>
      </div>

      <div id="aboutCarousel" class="carousel carousel-about slide d-none d-lg-block" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-6 bg-image" style="--bg-image: url({{ post.meta('about_us_image_1') }});"></div>

              <div class="col-6">
                <div class="row">
                  <div class="col-8 bg-grey p-5 about-carousel-content">
                    <p>
                      CURATED is not a traditional dealership or restoration facility, we are historians committed to preserving Vintage Supercars.
                      We take great pride as we document the legacies of these rare examples of automotive history, honoring their past and assuring their future. 
                      </br></br>
                      Founded in 2015 by car aficionado John Temerian and business impresario Jordi Ricart,
                      CURATED specializes in Vintage Blue Chip European Automobiles — specifically low production cars built between the 1970s and the early 2000s.
                      Passionately believing the automobile is a viable and consistent alternative investment asset class, and betting on this specific era of iconic supercars,
                      we continue to pave the way for the next generation of collectors.
                      </br></br>
                      With a keen focus on the highest quality Lamborghini and Ferrari examples coupled with an unwavering dedication to the highest standards of excellence and sincerity,
                      our founders quickly began making their mark within this emerging sector of collectibles.
                      Soon, Temerian and Ricart found a like-minded mentor in entrepreneur Alan Lazowski: business mogul, philanthropist and founder of LAZ Parking. Known for his people-first
                      leadership style, unconditional kindness, and his steadfast tenacity, Lazowski joined as partner in late 2015. Four years later, another perfectly congruent partner was found in Jim Goetz,
                      one of the most significant global tech investors, and the former CEO of Sequoia Capital. Goetz, oft revered for his integrity, transparency and dedication to helping others,
                      brings yet another unique perspective to the mix, again guided by this shared North Star. 
                      </br></br>
                      Today, CURATED is known as an international brand for discovering one-off 1980 and 1990s icons. Our pursuit of unique Analog Supercars is celebrated and depended upon,
                      as is our unmatched commitment to meticulous restoration. Having procured over 500 European Supercars produced in the 1970s, 1980s, 1990s and early 2000s,
                      CURATED has indeed made our mark on the industry as one of the most knowledgeable and well-respected authorities within our niche.
                    </p>
                    {# <h2>WE ARE CURATED</h2>

                    <p>After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
                    I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent
                    alternative investment asset class. Ignoring the noise of speculating dealers, “Broadway” Show auction
                    houses and using reason and passion to build an investment automobile collection portfolio.</p>

                    <h2 class="mt-4 mb-2">SALES</h2>

                    <p>We buy, represent and sell Investment quality "blue chip" cars. Low Mileage, High Quality,
                    Limited Quantity examples of Post War European Exotics and Supercars. Knowledge is everything.
                    Knowledge of the "Investment," knowledge of the market, knowledge of make/model specific detail,
                    and understanding the liquidity of the product. Curated knows Classic Cars. We are strict about what we buy
                    and dedicated to our DNA. We only buy, trade and sell cars we know; Lamborghini Countach, Diablo and Miura models.
                    Specific Ferrari Challenge models. Specific Supercar models from 1980s/1990s. And a few Jaguar E-Types here and there…
                    </p> #}

                    {# <button type="button" data-bs-target="#aboutCarousel" data-bs-slide="next" class="btn btn-primary btn-sm mt-4">READ MORE</button> #}
                  </div>

                  <div class="col-4 bg-image" style="--bg-image: url({{ post.meta('about_us_image_2') }});"></div>
                </div>
              </div>
            </div>
          </div>

          {# Hide next carousel Item #}
          {# <div class="carousel-item">
            <div class="row">
              <div class="col-6 bg-image" style="--bg-image: url({{ post.meta('about_us_image_1') }});"></div>

              <div class="col-6">
                <div class="row">
                  <div class="col-10 bg-grey p-5 about-carousel-content">
                    <h2>WE ARE CURATED</h2>

                    <p>After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
                    I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent
                    alternative investment asset class. Ignoring the noise of speculating dealers, “Broadway” Show auction
                    houses and using reason and passion to build an investment automobile collection portfolio.</p>

                    <h2 class="mt-4 mb-2">SALES</h2>

                    <p>We buy, represent and sell Investment quality "blue chip" cars. Low Mileage, High Quality,
                    Limited Quantity examples of Post War European Exotics and Supercars. Knowledge is everything.
                    Knowledge of the "Investment," knowledge of the market, knowledge of make/model specific detail,
                    and understanding the liquidity of the product. Curated knows Classic Cars. We are strict about what we buy
                    and dedicated to our DNA. We only buy, trade and sell cars we know; Lamborghini Countach, Diablo and Miura models.
                    Specific Ferrari Challenge models. Specific Supercar models from 1980s/1990s. And a few Jaguar E-Types here and there…
                    </p>

                    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide="next" class="btn btn-primary btn-sm mt-4">READ MORE</button>

                    <h5 class="extra-overlay sale">
                      SALE
                    </h5>
                  </div>

                  <div class="col-2 bg-image" style="--bg-image: url({{ post.meta('about_us_image_2') }});"></div>
                </div>
              </div>
            </div>
          </div> #}
        </div>

        {# <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> #}
      </div>

      <div class="about-mobile d-block d-lg-none">
        <div class="row m-0">
          <div class="col-12 bg-image bg-image-left" style="--bg-image: url({{ post.meta('about_us_image_1') }});"></div>

          <div class="col-12">
            <div class="row">
              <div class="col-12 bg-grey p-5">
                <p>
                  CURATED is not a traditional dealership or restoration facility, we are historians committed to preserving Vintage Supercars.
                  We take great pride as we document the legacies of these rare examples of automotive history, honoring their past and assuring their future. 
                  </br></br>
                  Founded in 2015 by car aficionado John Temerian and business impresario Jordi Ricart,
                  CURATED specializes in Vintage Blue Chip European Automobiles — specifically low production cars built between the 1970s and the early 2000s.
                  Passionately believing the automobile is a viable and consistent alternative investment asset class, and betting on this specific era of iconic supercars,
                  we continue to pave the way for the next generation of collectors.
                  </br></br>
                  With a keen focus on the highest quality Lamborghini and Ferrari examples coupled with an unwavering dedication to the highest standards of excellence and sincerity,
                  our founders quickly began making their mark within this emerging sector of collectibles.
                  Soon, Temerian and Ricart found a like-minded mentor in entrepreneur Alan Lazowski: business mogul, philanthropist and founder of LAZ Parking. Known for his people-first
                  leadership style, unconditional kindness, and his steadfast tenacity, Lazowski joined as partner in late 2015. Four years later, another perfectly congruent partner was found in Jim Goetz,
                  one of the most significant global tech investors, and the former CEO of Sequoia Capital. Goetz, oft revered for his integrity, transparency and dedication to helping others,
                  brings yet another unique perspective to the mix, again guided by this shared North Star. 
                  </br></br>
                  Today, CURATED is known as an international brand for discovering one-off 1980 and 1990s icons. Our pursuit of unique Analog Supercars is celebrated and depended upon,
                  as is our unmatched commitment to meticulous restoration. Having procured over 500 European Supercars produced in the 1970s, 1980s, 1990s and early 2000s,
                  CURATED has indeed made our mark on the industry as one of the most knowledgeable and well-respected authorities within our niche.
                </p>
              </div>
            </div>
          </div>

          <div class="col-2 bg-image bg-image-right" style="--bg-image: url({{ post.meta('about_us_image_2') }});"></div>
        </div>
      </div>

      <div class="section-heading">
        <h3 class="title">OUR STORY</h3>
      </div>

      <div id="storyCarousel" class="carousel carousel-story slide d-none d-lg-block" data-bs-ride="carousel">
        <div class="carousel-inner overflow-hidden py-5" style="padding-bottom: 4rem !important;">
          <div class="carousel-item carousel-item-1 active">
            <div class="tape-4"></div>

            <div class="row">
              <div class="col-6">
                <div class="row overflow-hidden">
                  <div class="col-4 bg-image bg-image-left" style="--bg-image: url({{ post.meta('about_us_image_3') }});">
                    <div class="tape-1"></div>
                  </div>

                  <div class="col-8 bg-white p-5">
                    <h2>IN THE<br />BEGINNING...</h2>

                    <p>
                      Almost 60 years ago my grandfather started repairing odd and rare European cars in Springfield, Mass.
                      During an era where Ferrari and Lamborghini were building small quantities of hand made cars that rarely
                      made it onto American soil. Arguably, this moment in history was the most significant time for the automobile,
                      an era that produced the most iconic cars of our time which became the DNA for todays most famous marques.
                       He bought and sold cars like the Ferrari 250 GTO, Jaguar D-Type and Lamborghini Miura.
                       (Selling his Ferrari 205 GTO for $9,500. to Robert Sowers has always been a sore spot.)
                       While my grandfather loved engineering and mechanics. My father loved the automobile.
                       Working under stewardship of my grandfather, he became a brilliant mechanic and at an early age started
                       collecting cars. At the New York Auto Show in 1972 he bought a one-off Lamborghini Miura SV from Modena Racing
                       that he still possess today. In the 1980s, my father became the authorized service in Palm Beach, Florida for
                       Lamborghini facilitated by Joe Nastasi. Nastasi was the sole distributor for Lamborghini in the Americas.
                    </p>

                    {# <a href="{{ post.link }}">
                      <button type="button" class="btn btn-primary btn-sm mt-4">READ MORE</button>
                    </a> #}
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="row founders-video-wrapper" style="height: 60%; position: relative;">
                  <img id="founders-video-button" class="active" src="{{ site.theme.link }}/assets/img/play.png" />
                  <video id="founder-video" width="100%" class="px-0" controls>
                    <source src="{{ site.theme.link }}/dist/assets/legacy_movie.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
                </div>

                <div class="row bg-image bg-image-right" style="--bg-image: url({{ post.meta('about_us_image_4') }}); min-height: 50vh; height: 40%;">
                  <div class="polaroid">
                    <img height="250" src="{{ post.meta('about_us_polaroid_1') }}" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          {# Hide next carousel Item #}
          {# <div class="carousel-item carousel-item-1">
            <div class="row">
              <div class="col-6">
                <div class="row overflow-hidden">
                  <div class="col-2 bg-image bg-image-left" style="--bg-image: url({{ post.meta('about_us_image_3') }});">
                    <div class="tape-1"></div>
                  </div>

                  <div class="col-10 bg-white p-5">
                    <h2>IN THE<br />BEGINNING...</h2>

                    <p>
                      Almost 60 years ago my grandfather started repairing odd and rare European cars in Springfield, Mass.
                      During an era where Ferrari and Lamborghini were building small quantities of hand made cars that rarely
                      made it onto American soil. Arguably, this moment in history was the most significant time for the automobile,
                      an era that produced the most iconic cars of our time which became the DNA for todays most famous marques.
                       He bought and sold cars like the Ferrari 250 GTO, Jaguar D-Type and Lamborghini Miura.
                       (Selling his Ferrari 205 GTO for $9,500. to Robert Sowers has always been a sore spot.)
                       While my grandfather loved engineering and mechanics. My father loved the automobile.
                       Working under stewardship of my grandfather, he became a brilliant mechanic and at an early age started
                       collecting cars. At the New York Auto Show in 1972 he bought a one-off Lamborghini Miura SV from Modena Racing
                       that he still possess today. In the 1980s, my father became the authorized service in Palm Beach, Florida for
                       Lamborghini facilitated by Joe Nastasi. Nastasi was the sole distributor for Lamborghini in the Americas.
                    </p>

                    <a href="{{ post.link }}">
                      <button type="button" class="btn btn-primary btn-sm mt-4">READ MORE</button>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-6 bg-image bg-image-right" style="--bg-image: url({{ post.meta('about_us_image_4') }});">
                <div class="tape-1"></div>
                <div class="polaroid">
                  <img height="250" src="{{ site.theme.link }}/assets/img/first-look-polaroid-v3.png" />
                </div>
              </div>
            </div>
          </div> #}
        </div>

        {# <button class="carousel-control-prev" type="button" data-bs-target="#storyCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#storyCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> #}
      </div>

      <div class="story-mobile d-block d-lg-none">
        <div class="row m-0">
          <div class="col-12 bg-image bg-image-left" style="--bg-image: url({{ post.meta('about_us_image_3') }});"></div>
          <div class="col-12 bg-grey p-5">
            <h2>IN THE BEGINNING...</h2>

            <p>
              Almost 60 years ago my grandfather started repairing odd and rare European cars in Springfield, Mass.
              During an era where Ferrari and Lamborghini were building small quantities of hand made cars that rarely
              made it onto American soil. Arguably, this moment in history was the most significant time for the automobile,
              an era that produced the most iconic cars of our time which became the DNA for todays most famous marques.
               He bought and sold cars like the Ferrari 250 GTO, Jaguar D-Type and Lamborghini Miura.
               (Selling his Ferrari 205 GTO for $9,500. to Robert Sowers has always been a sore spot.)
               While my grandfather loved engineering and mechanics. My father loved the automobile.
               Working under stewardship of my grandfather, he became a brilliant mechanic and at an early age started
               collecting cars. At the New York Auto Show in 1972 he bought a one-off Lamborghini Miura SV from Modena Racing
               that he still possess today. In the 1980s, my father became the authorized service in Palm Beach, Florida for
               Lamborghini facilitated by Joe Nastasi. Nastasi was the sole distributor for Lamborghini in the Americas.
            </p>

            {# <a href="{{ post.link }}">
              <button type="button" class="btn btn-primary btn-sm mt-4">READ MORE</button>
            </a> #}
          </div>

          <div class="col-12 bg-image bg-image-right" style="--bg-image: url({{ post.meta('about_us_image_4') }});"></div>
        </div>
      </div>

      <div class="section-heading mb-4">
        <h3 class="title">OUR FOUNDERS</h3>
      </div>

      <div id="foundersSection" class="founders-section row m-0">
        <div class="col-lg-6 bg-image" style="--bg-image: url({{ post.meta('founders_image') }});"></div>

        <div class="col-lg-6 p-5 bg-grey">
          <h2 class="mb-3">John & Jordi</h2>

          <p>
            To know John and Jordi as partners is to understand the concept of the whole being greater than the sum of its parts.
            Aristotle’s expression rightly defines the modern concept of synergy, and aptly articulates the dynamic of CURATED’s founders. 
            </br></br>
            This exemplary partnership is one of mutual respect and complementary skill sets; yet, it might appear to be an unexpected
            pairing at first glance — a passionate car aficionado in ripped jeans beside a seasoned corporate executive in a collared shirt,
            and with a law degree, no less. However, their polarized backgrounds intersect at the crossroads of integrity and entrepreneurship.
            And further, John and Jordi share a commitment to stewarding the next generation of leaders and collectors. 
            </br></br>
            Born from John’s innate love of vintage European bluechip supercars and Jordi’s inherent entrepreneurial mindset, CURATED was founded in 2015.
            At the time, Jordi was serving as GM of Lou La Vie, following the acquisition of his previous employer, Gentleman Car Club, alongside John,
            who served as President. Soon after John acquired and sold a Lamborghini Countach within a short amount of time, and with an impressive margin,
            the two began discussing the profitability and potential growth trajectory within this niche market. And  thus, the genesis of CURATED.
            John and Jordi (with their Partner Alan Lazowski) founded the company in 2015. 
            </br></br>
            Clients have come to trust and rely upon CURATED, noting its unwavering vision, unmatched service and its relentless pursuit of pairing the world’s
            best supercars with the world’s best collectors. Its investors, Alan Lazowski and Jim Goetz, have noted time and again that their trust in CURATED
            is also driven by John and Jordi’s symbiotic relationship - and their steadfast commitment to one another.
          </p>
          {# <p>
            To know John and Jordi as partners is to understand the concept of the whole being greater than the sum of its part.
            Aristotle’s expression rightly defines the modern concept of synergy, and aptly articulates the dynamic of CURATED’s founders.</br></br>
            This exemplary partnership is one of mutual respect and complementary skill sets; yet, it might appear to be and unexpected pairing
            at first glance – a passionate car aficionado in ripped jeans besides a seasoned corporate executive in a collared shirt,
            and with a law degree, no less, However, their polarized backgrounds intersect at the crossroads of integrity and entrepreneurship. And further,
            John and Jordi share a commitment to stewarding the next generation of leaders and collectors.</br></br>

            Born from John’s innate love of vintage European bluechip supercars and Jordi’s inherit entrepreneurial mindset,
            CURATED was founded in 015. AT the time, Jordi was serving as GM of Lou La Vie, following the acquisition of his previous employer, G
            entleman Car Club, alongside John, who served as President.
            Soon after John acquired and sold a Lamborghini Countach within a short amount of time, and with an impressive margin,
            the two began discussing the profitability and potential growth trajectory within this this niche market. And thus, the genesis of CURATED.
            John and Jordi (with their Partner Alan Lazowski) founded the company in 2015…
          </p> #}

          {# <a href="{{ post.link }}">
            <button type="button" class="btn btn-primary btn-sm mt-4">READ MORE</button>
          </a> #}
        </div>
      </div>

      {# Testimonials Section #}
      <div id="testimonialsSection" class="row m-0" style="position: relative;">
        <a href="/testimonials">
          {% if post.meta('testimonials_image') %}
            <img width="100%" style="margin-top: 10vh;" src="{{ post.meta('testimonials_image') }}">
          {% else %}
            <img width="100%" style="margin-top: 10vh;" src="{{ site.theme.link }}/assets/img/curated_testimonials.jpg">
          {% endif %}

          <a href="{{ site.link }}/testimonials" style="position: absolute; bottom: 1%; right: 38%; left: 62%;">
            <button class="btn btn-primary btn-sm">
              SHOW MORE
            </button>
          </a>
        </a>
      </div>

      {% include 'partial/instagram-section.twig' %}
    </article>
	</div>

  <script>
    $( document ).ready(function() {
      var ctrlVideo = document.getElementById("founder-video"); 
      
      $('#founder-video').click(function(){
        $('#founders-video-button').toggleClass("active");
        if ($('#founders-video-button').hasClass("active")){
          $('#founders-video-button').show();
        } else {
          $('#founders-video-button').hide();
        }
      });
    });
  </script>
{% endblock %}
