{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		{% include 'partial/featured-header.twig' with { hideInquiry: true } %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading first-heading">
					<h3 class="title">NEW & NOW</h3>
					<h5 class="subtitle mb-0">HIGHLIGHTS</h5>
				</div>

				{% include 'partial/cutout-slider.twig' with { posts: highlights, title: 'highlights' } %}

				<div class="section-heading pt-sm">
					<h3 class="title">LATEST ARRIVALS</h3>
					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

				<div class="row more text-end">
					<div class="col-12 pe-5">
						<a class="more-link" href="{{ site.link }}/inventory">
							MORE
							<span>
								<i class="fa-solid fa-angle-right"></i>
							</span>
						</a>
					</div>
				</div>

				{% include 'partial/multi-carousel.twig' with { posts: latest, title: 'latest' } %}

				{% if curated %}
					<div class="section-heading pt-sm mb-md">
						<h3 class="title">FIRST LOOK</h3>
						<h5 class="subtitle mb-0">CURATED</h5>
					</div>

					{% include 'partial/first-look-carousel.twig' with { post: post, posts: curated, title: 'first-look' } %}
				{% endif %}

				<div class="section-heading">
					<h3 class="title">THE JOURNAL</h3>

					<h5 class="subtitle mb-0">GET UP TO SPEED</h5>
				</div>

				<div class="row more text-end">
					<div class="col-12 pe-5">
						<a class="more-link" href="{{ site.link }}/stories">
							MORE
							<span>
								<i class="fa-solid fa-angle-right"></i>
							</span>
						</a>
					</div>
				</div>

				{% include 'partial/multi-carousel.twig' with { posts: journal, title: 'journal' } %}

				<div class="section-heading pb-sm">
					<h3 class="title">OUR CHANNEL</h3>

					<h5 class="subtitle mb-0">YOUTUBE</h5>
				</div>

				<div class="youtube-container">
					<iframe src="https://www.youtube.com/embed/DC5XtL2z1oc?controls=0" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope;"
    allowfullscreen></iframe>></iframe>
				</div>

				{% include 'partial/instagram-section.twig' %}

				{# <div class="article-body">
					{{post.content}}
				</div> #}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
