{% extends "base.twig" %}
{% set headerClass = "header-light" %}

{% block content %}
	<div class="content-wrapper">
		{% if gallery %}
			{% include 'partial/product-slider.twig' with { posts: gallery, title: 'product', post: post, showOverlay: true } %}
		{% else %}
			{% include 'partial/featured-header.twig' %}
		{% endif %}


		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content {{ gallery ? '' : 'push-top'}}">
				<div class="section-heading main-heading pt-xs">
					<h3 class="title">{{post.title}}</h3>
					<h6 class="subtitle">AVAILABLE</h6>
				</div>

				<div class="article-body">
					<div class="container">
						<div class="row">
							<div class="col-md-5 order-2 order-md-2">
								<aside class="car-info mb-5">
									<p>Year: {{ post.meta('year') ? post.meta('year') : "#NA" }}</p>
									<p>Manufacturer: {{ post.meta('manufacturer') ? post.meta('manufacturer') : "#NA" }}</p>
									<p>Model Variant: {{ post.meta('model_variant') ? post.meta('model_variant') : "#NA" }}</p>
									<p>Exterior Color: {{ post.meta('exterior_color') ? post.meta('exterior_color') : "#NA" }}</p>
									<p>Interior Color: {{ post.meta('interior_color') ? post.meta('interior_color') : "#NA" }}</p>
									<p>Current Mileage: {{ post.meta('current_mileage') ? post.meta('current_mileage') : "#NA" }}</p>
									<p>Version: {{ post.meta('version') ? post.meta('version') : "#NA" }}</p>
									<p>Chassis: {{ post.meta('chassis') ? post.meta('chassis') : "#NA" }}</p>
									<p>Engine Capacity/Power: {{ post.meta('engine_capacity') ? post.meta('engine_capacity') : "#NA" }}</p>
									<p>Transmission: {{ post.meta('transmission') ? post.meta('transmission') : "#NA" }}</p>
									<p>Top Speed: {{ post.meta('top_speed') ? post.meta('top_speed') : "#NA" }}</p>
									<p>Designer: {{ post.meta('designer') ? post.meta('designer') : "#NA" }}</p>
									<p>Series: {{ post.meta('series') ? post.meta('series') : "#NA" }}</p>
									<p>Parent Company: {{ post.meta('parent_company') ? post.meta('parent_company') : "#NA" }}</p>
									<p>Public Debut: {{ post.meta('public_debut') ? post.meta('public_debut') : "#NA" }}</p>
									<p>Predecessor: {{ post.meta('predecessor') ? post.meta('predecessor') : "#NA" }}</p>
									<p>Successor: {{ post.meta('successor') ? post.meta('successor') : "#NA" }}</p>
									<p>Years Produced: {{ post.meta('years_produced') ? post.meta('years_produced') : "#NA" }}</p>
									<p>Examples Produced in This Color: {{ post.meta('examples_produced_in_this_color') ? post.meta('examples_produced_in_this_color') : "#NA" }}</p>
									<p>Examples Produced in This Interior Package: {{ post.meta('examples_produced_in_this_interior_package') ? post.meta('examples_produced_in_this_interior_package') : "#NA" }}</p>
									<p>Examples Produced for U.S.: {{ post.meta('examples_produced_for_us') ? post.meta('examples_produced_for_us') : "#NA" }}</p>
									<p>Total Production: {{ post.meta('total_production') ? post.meta('total_production') : "#NA" }}</p>
									<p>Books & Tools: {{ post.meta('books_and_tools') ? post.meta('books_and_tools') : "#NA" }}</p>
									<p>CarFAX: {{ post.meta('carfax') ? post.meta('carfax') : "#NA" }}</p>
									<p>Notable ownership: {{ post.meta('notable_ownership') ? post.meta('notable_ownership') : "#NA" }}</p>
								</aside>

								<div class="car-details">
									{% if post.content %}
										<h4>MORE DETAILS</h4>

										<div class="content">
											{{post.content}}
										</div>
									{% endif %}

									<div class="cta">
										<button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#inquiryModal">INQUIRE</button>
										{# Hide button for now #}
										{# <button class="btn btn-primary btn-sm" onclick="display()">CREATE PDF</button> #}
									</div>
								</div>
							</div>

							<div class="col-md-7 order-1 order-md-2">
								<div class="car-featured-image">
									{% if post.meta('featured_gallery_image') %}
										<img class="img-fluid" alt="{{post.title}}-featured-gallery-image'" src="{{ post.meta('featured_gallery_image') }}" />
									{% else %}
										<img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid" alt="{{post.title}}-placeholder">
									{% endif %}
								</div>

								<ul class="car-gallery"></ul>

								<div class="justify-content-end" style="display: none">
									<button id="load-more-gallery-btn" class="btn load-more-btn mb-4">More</button>
								</div>
							</div>
						</div>
					</div>
					{# {{post.content}} #}
				</div>


        <div class="section-heading">
					<h3 class="title">JUST IN </h3>

					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

				{% include 'partial/multi-carousel.twig' with { posts: latest, title: 'latest' } %}
			</section>
		</article>
	</div><!-- /content-wrapper -->

	<script>
		function display() {
			window.print();
		}

		function paginate (arr, size) {
			return arr.reduce((acc, val, i) => {
				let idx = Math.floor(i / size)
				let page = acc[idx] || (acc[idx] = [])
				page.push(val)

				return acc
			}, [])
		}

		let pageSize = 6;

		function fetchGallery(pageSize, pageNumber) {
			const gallery = paginate({{ gallery_array }}, pageSize);
			return gallery[pageNumber - 1] || [];
		}

		function appendGallery(pageNumber) {
			const gallery = fetchGallery(pageSize, pageGallery);
			const galleryCount = gallery.length;

			if (galleryCount < pageSize) {
				$("#load-more-gallery-btn").parent().hide();
			} else {
				$("#load-more-gallery-btn").parent().show();
			}

			gallery.forEach((car_image) => {
				if (car_image) {
					$(".car-gallery").append(`
						<li>
							<img src=${car_image} alt="{{post.title}}-gallery-image-{{ctr}}" />
							<div class="overlay"></div>
						</li>
					`);
				} else {
					$(".car-gallery").append(`
						<li>
							<img src="{{ site.theme.link }}/dist/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}}-placeholder">
							<div class="overlay"></div>
						</li>
					`);
				}
			});
		}

		let pageGallery = 1;

		$(document).ready(function() {
			appendGallery(6, 10);

			$("#load-more-gallery-btn").click((e) => {
				appendGallery(6, pageGallery++);
			});
		});
   </script>
{% endblock %}
