{% extends "base.twig" %}
{% set headerClass = "header-light" %}

{% block content %}
	<div class="content-wrapper">
		{% if gallery %}
			{% include 'partial/header-carousel.twig' with { posts: gallery, title: 'product', post: post, showOverlay: true } %}
		{% else %}
			{% include 'partial/featured-header.twig' %}
		{% endif %}

		<article class="post-type-{{post.post_type}} single-car" id="post-{{post.ID}}">
			<section class="article-content {{ gallery ? '' : 'push-top'}}">
				<div class="section-heading main-heading pt-xs px-2 px-lg-0">
					<h3 class="title">{{post.title}}</h3>
					<h6 class="subtitle">AVAILABLE</h6>
				</div>

				<div class="article-body">
					<div class="container">
						<div class="row">
							<div class="col-md-5 order-2 order-md-2">
								<aside class="car-info mb-5">
									{% if post.meta('year') %}
										<p><span class="text-uppercase">Year:</span> {{ post.meta('year') }}</p>
									{% endif %}

									{% if post.meta('manufacturer') %}
										<p><span class="text-uppercase">Manufacturer:</span> {{ post.meta('manufacturer') }}</p>
									{% endif %}

									{% if post.meta('model_variant') %}
										<p><span class="text-uppercase">Model Variant:</span> {{ post.meta('model_variant') }}</p>
									{% endif %}
									
									{% if post.meta('exterior_color') %}
										<p><span class="text-uppercase">Exterior Color:</span> {{ post.meta('exterior_color') }}</p>
									{% endif %}
									
									{% if post.meta('interior_color') %}
										<p><span class="text-uppercase">Interior Color:</span> {{ post.meta('interior_color') }}</p>
									{% endif %}
									
									{% if post.meta('current_mileage') %}
										<p><span class="text-uppercase">Current Mileage:</span> {{ post.meta('current_mileage') }}</p>
									{% endif %}
									
									{% if post.meta('version') %}
										<p><span class="text-uppercase">Version:</span> {{ post.meta('version') }}</p>
									{% endif %}
									
									{% if post.meta('chassis') %}
										<p><span class="text-uppercase">Chassis:</span> {{ post.meta('chassis') }}</p>
									{% endif %}
									
									{% if post.meta('engine_capacity') %}
										<p><span class="text-uppercase">Engine Capacity:</span> {{ post.meta('engine_capacity') }}</p>
									{% endif %}
									
									{% if post.meta('transmission') %}
										<p><span class="text-uppercase">Transmission:</span> {{ post.meta('transmission') }}</p>
									{% endif %}
									
									{% if post.meta('top_speed') %}
										<p><span class="text-uppercase">Top Speed:</span> {{ post.meta('top_speed') }}</p>
									{% endif %}
									
									{% if post.meta('designer') %}
										<p><span class="text-uppercase">Designer:</span> {{ post.meta('designer') }}</p>
									{% endif %}
									
									{% if post.meta('series') %}
										<p><span class="text-uppercase">Series:</span> {{ post.meta('series') }}</p>
									{% endif %}
									
									{% if post.meta('parent_company') %}
										<p><span class="text-uppercase">Parent Company:</span> {{ post.meta('parent_company') }}</p>
									{% endif %}
									
									{% if post.meta('public_debut') %}
										<p><span class="text-uppercase">Public Debut:</span> {{ post.meta('public_debut') }}</p>
									{% endif %}
									
									{% if post.meta('predecessor') %}
										<p><span class="text-uppercase">Predecessor:</span> {{ post.meta('predecessor') }}</p>
									{% endif %}
									
									{% if post.meta('successor') %}
										<p><span class="text-uppercase">Successor:</span> {{ post.meta('successor') }}</p>
									{% endif %}
									
									{% if post.meta('years_produced') %}
										<p><span class="text-uppercase">Years Produced:</span> {{ post.meta('years_produced') }}</p>
									{% endif %}
									
									{% if post.meta('examples_produced_in_this_color') %}
										<p><span class="text-uppercase">Examples produced in this color:</span> {{ post.meta('examples_produced_in_this_color') }}</p>
									{% endif %}
									
									{% if post.meta('examples_produced_in_this_interior_package') %}
										<p><span class="text-uppercase">Examples produced in this interior package:</span> {{ post.meta('examples_produced_in_this_interior_package') }}</p>
									{% endif %}
									
									{% if post.meta('examples_produced_for_us') %}
										<p><span class="text-uppercase">Examples produced for us:</span> {{ post.meta('examples_produced_for_us') }}</p>
									{% endif %}
									
									{% if post.meta('total_production') %}
										<p><span class="text-uppercase">Total Production:</span> {{ post.meta('total_production') }}</p>
									{% endif %}
									
									{% if post.meta('books_and_tools') %}
										<p><span class="text-uppercase">Books and Tools:</span> {{ post.meta('books_and_tools') }}</p>
									{% endif %}
									
									{% if post.meta('carfax') %}
										<p><span class="text-uppercase">Carfax:</span> {{ post.meta('carfax') }}</p>
									{% endif %}
									
									{% if post.meta('notable_ownership') %}
										<p><span class="text-uppercase">Notable Ownership:</span> {{ post.meta('notable_ownership') }}</p>
									{% endif %}
								</aside>

								<div class="car-details">
									{% if post.content %}
										<h4>MORE DETAILS</h4>

										<div class="content">
											{{post.content}}
										</div>
									{% endif %}

									<div class="cta">
										<button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#inquiryModal">INQUIRE</button>
										{# Hide button for now #}
										{# <button class="btn btn-primary btn-sm" onclick="display()">CREATE PDF</button> #}
									</div>
								</div>
							</div>

							<div class="col-md-7 order-1 order-md-2 car-gallery-container">
								<div class="car-featured-image">
									{% if post.meta('featured_gallery_image') %}
										<img class="img-fluid" alt="{{post.title}}-featured-gallery-image'" src="{{ post.meta('featured_gallery_image') }}" />
									{% else %}
										<img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid" alt="{{post.title}}-placeholder">
									{% endif %}
								</div>

								<ul class="car-gallery"></ul>

								<div class="justify-content-end" style="display: none">
									<button id="load-more-gallery-btn" class="btn btn-primary load-more-btn mb-4">More</button>
								</div>
							</div>
						</div>
					</div>
					{# {{post.content}} #}
				</div>


        <div class="section-heading">
					<h3 class="title">LATEST ARRIVALS</h3>

					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

				{% include 'partial/multi-carousel.twig' with { posts: latest, title: 'latest' } %}
			</section>
		</article>
	</div><!-- /content-wrapper -->

	<script>
		function display() {
			window.print();
		}

		function paginate (arr, size) {
			return arr.reduce((acc, val, i) => {
				let idx = Math.floor(i / size)
				let page = acc[idx] || (acc[idx] = [])
				page.push(val)

				return acc
			}, [])
		}

		let pageSize = 6;

		function fetchGallery(pageSize, pageNumber) {
			const gallery = paginate({{ gallery_array }}, pageSize);
			return gallery[pageNumber - 1] || [];
		}

		async function appendGallery(pageNumber) {
			const gallery = fetchGallery(pageSize, pageGallery);
			const galleryCount = gallery.length;

			if (galleryCount < pageSize) {
				$("#load-more-gallery-btn").parent().hide();
			} else {
				$("#load-more-gallery-btn").parent().show();
			}

			let galleryCounter = 0;

			await gallery.forEach((car_image) => {
				galleryCounter++;

				let imageTag = document.createElement("img");
				imageTag.setAttribute("src", car_image);

				let anchorTag = document.createElement("a");
				anchorTag.setAttribute("href", car_image);
				anchorTag.setAttribute("data-toggle", "lightbox");
				anchorTag.setAttribute("data-gallery", "example-gallery");

				let currentNode = document.createElement("li");
				currentNode.setAttribute("class", "car-gallery-image-"+galleryCounter);

				anchorTag.append(imageTag);
				currentNode.append(anchorTag);

				if (car_image) {
					$(".car-gallery").append(currentNode);
				} else {
					$(".car-gallery").append(`
						<li>
							<img src="{{ site.theme.link }}/dist/assets/img/placeholder.png" data-src="{{ site.theme.link }}/dist/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}}-placeholder">
							<div class="overlay"></div>
						</li>
					`);
				}

				currentNode.addEventListener('click', (e) => {
					e.preventDefault();

					const lightbox = new Lightbox(anchorTag, {
						size: 'fullscreen',
					});

					lightbox.show();
				});
			});

			galleryCounter = 0;
		}

		let pageGallery = 1;

		$(document).ready(function() {
			appendGallery(6, 10);

			$("#load-more-gallery-btn").click((e) => {
				appendGallery(6, pageGallery++);
			});
		});
   </script>
{% endblock %}
