{% extends "base.twig" %}
{% set headerClass = "header-light" %}

{% block content %}
	<div class="content-wrapper">
		{% if gallery %}
			{% include 'partial/header-carousel.twig' with { posts: gallery, title: 'product', post: post, showOverlay: true } %}
		{% else %}
			{% include 'partial/featured-header.twig' with { hideInquiry: true } %}
		{% endif %}


		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content {{ gallery ? '' : 'push-top'}}">
				<div class="section-heading main-heading pt-xs">
					<h3 class="title">{{post.title}}</h3>
					<h6 class="subtitle">AVAILABLE</h6>
				</div>

				<div class="article-body">
					<div class="container">
						<div class="row">
							<div class="col-md-12 order-2 order-md-2">
								<div class="car-details">
									{% if post.content %}
										{{post.content}}
									{% endif %}

									<div class="cta">
										<button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#inquiryModal">INQUIRE</button>
										{# Hide button for now #}
										{# <button class="btn btn-primary btn-sm" onclick="display()">CREATE PDF</button> #}
									</div>
								</div>
							</div>
						</div>
					</div>
					{# {{post.content}} #}
				</div>


        <div class="section-heading">
					<h3 class="title">JUST IN </h3>

					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

				{% include 'partial/multi-carousel.twig' with { posts: latest, title: 'latest' } %}
			</section>
		</article>
	</div><!-- /content-wrapper -->

	<script>
      function display() {
         window.print();
      }
   </script>
{% endblock %}
