{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		{% include 'partial/featured-header.twig' with { hideInquiry: true } %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading first-heading">
					<h3 class="title">NEW & NOW</h3>
					<h5 class="subtitle mb-0">HIGHLIGHTS</h5>
				</div>

				{% include 'partial/cutout-slider.twig' with { posts: highlights, title: 'highlights' } %}

				<div class="section-heading pt-sm">
					<h3 class="title">LATEST ARRIVALS</h3>
					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

				<div class="row more text-end">
					<div class="col-12 pe-5">
						<a class="more-link" href="{{ site.link }}/inventory">
							MORE
							<span>
								<i class="fa-solid fa-angle-right"></i>
							</span>
						</a>
					</div>
				</div>

				{% include 'partial/multi-carousel.twig' with { posts: latest, title: 'latest' } %}

				<div class="section-heading pt-sm mb-md">
					<h3 class="title">FIRST LOOK</h3>
					<h5 class="subtitle mb-0">CURATED</h5>
				</div>

				<div class="carousel-section first-look-carousel">
					<div id="firstLookCarousel" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
						<div class="carousel-indicators">
							{% for key,post in curated %}
								<button type="button" data-bs-target="#firstLookCarousel" data-bs-slide-to="{{key}}" class="active" aria-current="true" aria-label="Slide {{ key }}"></button>
							{% endfor %}
						</div>

						<div class="carousel-inner">
							{# {% set ctr = 0 %}
							{% for key,post in curated %} #}
								<div class="carousel-item carousel-item-v3 {% if key == 0  %} {{ 'active' }} {% endif %}">
									<div class="bg-left" style="--bg-image: url({{ site.theme.link }}/assets/img/first-look-left-a.png);">
										<div class="tape-1"></div>
										<div class="tape-2"></div>
										<div class="polaroid">
											<img height="250" src="{{ site.theme.link }}/assets/img/first-look-polaroid-v3.png" />
										</div>
									</div>

									<div class="right-side" style="width: 50%; position: relative; float: left;">
										<div class="content" style="width: 78%; float: left; position: relative;">
											<div class="overlay-background">
											</div>

											<div class="overlay-content">
												<h2 class="grafiti">IN THE WORKS</h2>
												<h2>& COMING SOON</h2>

												{# <p>{{ post.preview.length(100).read_more(false) }}</p> #}

												<p>
													After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
													I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent alternative investment asset class.
													Ignoring the noise of speculating dealers, “Broadway” to Show auction houses and using reason and passion to build an investment automobile collection portfolio.</br></br>

													We are in the constant pursuit of pairing the worlds greatest automobiles with the worlds greatest collections. We buy, trade and sell ONLY very specific cars.</br></br>

													After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
													I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent</br></br>

													We are in the constant pursuit of pairing the worlds greatest automobiles with the worlds greatest collections.
												</p>

												<a href="#">
													<button type="button" class="btn btn-primary btn-sm">READ MORE</button>
												</a>
											</div>

											<div class="overlay-background">
											</div>
										</div>

										{% if post.meta('blog-bg') %}
											<div class="bg-right" style="--bg-image-right: url({{ post.meta('blog-bg') }}); float: left; width: 22%;">
												<div class="tape-1"></div>
											</div>
										{% else %}
											<div class="bg-right" style="--bg-image-right: url({{ site.theme.link }}/assets/img/first-look-right-a.png); float: left; width: 22%;">
												<div class="tape-1"></div>
											</div>
										{% endif %}
									</div>
								</div>

								{# B FIRST LOOK #}
								<div class="carousel-item carousel-item-v2">
									<div class="bg-left" style="width: 50%;">

										<div class="bg-left" style="width: 22%; position: relative; float: left; --bg-image: url('{{ site.theme.link }}/assets/img/first-look-left-b.png');">
											<div class="tape-1"></div>
										</div>

										<div class="content" style="width: 78%; float: left; position: relative;">
											<div class="overlay-background">
											</div>

											<div class="overlay-content">
												<h2 class="grafiti">IN THE WORKS</h2>
												<h2>& COMING SOON</h2>

												{# <p>{{ post.preview.length(100).read_more(false) }}</p> #}

												<p>
													After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
													I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent alternative investment asset class.
													Ignoring the noise of speculating dealers, “Broadway” to Show auction houses and using reason and passion to build an investment automobile collection portfolio.</br></br>

													We are in the constant pursuit of pairing the worlds greatest automobiles with the worlds greatest collections. We buy, trade and sell ONLY very specific cars.</br></br>

													After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
													I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent</br></br>

													We are in the constant pursuit of pairing the worlds greatest automobiles with the worlds greatest collections.
												</p>

												<a href="#">
													<button type="button" class="btn btn-primary btn-sm">READ MORE</button>
												</a>
											</div>
										</div>
										{# <h5 class="extra-overlay count">
											0{{ ctr }}
										</h5> #}
									</div>

									<div class="right-side bg-right" style="width: 50%; position: relative; float: left; --bg-image-right: url('{{ site.theme.link }}/assets/img/first-look-right-b.png');">
										<div class="tape-2"></div>
										<div id="polaroid">
											<img height="250" src="https://images.unsplash.com/photo-1462396881884-de2c07cb95ed" />
										</div>
										<div class="tape-3"></div>
									</div>
								</div>

								{# <div class="carousel-item carousel-item-v2">
									<div class="bg-left" style="--bg-image: url('{{ site.theme.link }}/assets/img/default.png');"></div>
									<div class="bg-right" style="--bg-image-right: url('{{ site.theme.link }}/assets/img/lambo-2-left.jpeg');"></div>

									<div class="overlay">
										<div class="overlay-content">
											<h2 class="grafiti">IN THE WORKS</h2>
											<h2>& COMING SOON</h2>

											<p>
												After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
												I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent alternative investment asset class.
												Ignoring the noise of speculating dealers, “Broadway” to Show auction houses and using reason and passion to build an investment automobile collection portfolio.</br></br>

												We are in the constant pursuit of pairing the worlds greatest automobiles with the worlds greatest collections. We buy, trade and sell ONLY very specific cars.</br></br>

												After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
												I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent</br></br>

												We are in the constant pursuit of pairing the worlds greatest automobiles with the worlds greatest collections.
											</p>

											<a href="#">
												<button type="button" class="btn btn-primary btn-sm">READ MORE</button>
											</a>
										</div>

										<div class="overlay-background">
										</div>

										<div class="tape-1"></div>
										<div class="tape-2"></div>
										<div id="polaroid">
											<img height="250" src="https://images.unsplash.com/photo-1462396881884-de2c07cb95ed" />
										</div>
										<div class="tape-3"></div>
									</div>
								</div> #}

								{# C FIRST LOOK #}
								<div class="carousel-item carousel-item-v1">
									<div class="bg-left" style="--bg-image: url({{ site.theme.link }}/assets/img/first-look-right-c.png);">
										<div class="tape-1"></div>
										<div id="polaroid">
											<img height="250" src="https://images.unsplash.com/photo-1462396881884-de2c07cb95ed" />
										</div>
									</div>

									<div class="right-side" style="width: 50%; position: relative; float: left;">
										<div class="content" style="width: 78%; float: left; position: relative;">
											<div class="overlay-background"></div>

											<div class="overlay-content">
												<h2 class="grafiti">IN THE WORKS</h2>
												<h2>& COMING SOON</h2>

												{# <p>{{ post.preview.length(100).read_more(false) }}</p> #}

												<p>
													After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
													I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent alternative investment asset class.
													Ignoring the noise of speculating dealers, “Broadway” to Show auction houses and using reason and passion to build an investment automobile collection portfolio.</br></br>

													We are in the constant pursuit of pairing the worlds greatest automobiles with the worlds greatest collections. We buy, trade and sell ONLY very specific cars.</br></br>

													After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s,
													I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent</br></br>

													We are in the constant pursuit of pairing the worlds greatest automobiles with the worlds greatest collections.
												</p>

												<a href="#">
													<button type="button" class="btn btn-primary btn-sm">READ MORE</button>
												</a>
											</div>

											<div class="overlay-background"></div>
										</div>

										{% if post.meta('blog-bg') %}
											<div class="bg-right" style="--bg-image-right: url({{ post.meta('blog-bg') }}); float: left; width: 22%;">
												<div class="tape-2"></div>
											</div>
										{% else %}
											<div class="bg-right" style="--bg-image-right: url({{ site.theme.link }}/assets/img/first-look-left-c.png); float: left; width: 22%;">
												<div class="tape-2"></div>
											</div>
										{% endif %}
									</div>
								</div>

							{# {% endfor %} #}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#firstLookCarousel" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>

							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#firstLookCarousel" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>

							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>

				<div class="section-heading">
					<h3 class="title">THE JOURNAL</h3>

					<h5 class="subtitle mb-0">GET UP TO SPEED</h5>
				</div>

				<div class="row more text-end">
					<div class="col-12 pe-5">
						<a class="more-link" href="{{ site.link }}/stories">
							MORE
							<span>
								<i class="fa-solid fa-angle-right"></i>
							</span>
						</a>
					</div>
				</div>

				{% include 'partial/multi-carousel.twig' with { posts: journal, title: 'journal' } %}

				<div class="section-heading pb-sm">
					<h3 class="title">OUR CHANNEL</h3>

					<h5 class="subtitle mb-0">YOUTUBE</h5>
				</div>

				<div class="youtube-container youtube-container-xs">
					<iframe width="100%" height="500" src="https://www.youtube.com/embed/rI83PMNvljw?controls=0"></iframe>
				</div>

				<div class="youtube-container youtube-container-sm">
					<iframe width="100%" height="550" src="https://www.youtube.com/embed/rI83PMNvljw?controls=0"></iframe>
				</div>

				<div class="youtube-container youtube-container-md">
					<iframe width="100%" height="725" src="https://www.youtube.com/embed/rI83PMNvljw?controls=0"></iframe>
				</div>

				<div class="youtube-container youtube-container-lg">
					<iframe width="100%" height="800" src="https://www.youtube.com/embed/rI83PMNvljw?controls=0"></iframe>
				</div>

				<div class="youtube-container youtube-container-xl">
					<iframe width="100%" height="1000" src="https://www.youtube.com/embed/rI83PMNvljw?controls=0"></iframe>
				</div>

				{% include 'partial/instagram-section.twig' %}

				{# <div class="article-body">
					{{post.content}}
				</div> #}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
