<div id="carousel-{{ title }}" class="carousel slide h-100 cutout-slider" data-bs-interval="false" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for key,post in posts %}
        <button type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide-to="{{key}}" class="{% if key == 0  %} {{ 'active' }} {% endif %}" aria-current="{% if key == 0  %} {{ 'current' }} {% endif %}" aria-label="Slide {{key}}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner h-100">
    {% set ctr = 0 %}
    {% for key,post in posts %}
      {% set ctr = ctr + 1 %}
      <div class="carousel-item h-100 {% if key == 0  %} {{ 'active' }} {% endif %}">
        <div class="row h-100">
          {% if post.meta('highlights_left_image') %}
            <div class="col-12 col-md-7 bg-image bg-image-left d-none d-md-block" style="--bg-image: url({{ post.meta('highlights_left_image') }});"></div>
            <div class="col-12 col-md-7 bg-image bg-image-left d-xs-block d-sm-block d-md-none">
              <img src="{{ post.meta('highlights_mobile_image') ? post.meta('highlights_mobile_image') : post.thumbnail.src }}" style="width: 100%;" />
            </div>
          {% else %}
            <div class="col-12 col-md-7 bg-image bg-image-left d-none d-md-block" style="--bg-image: url({{ post.thumbnail.src }});"></div>
            <div class="col-12 col-md-7 bg-image bg-image-left d-xs-block d-sm-block d-md-none">
              <img src="{{ post.meta('highlights_mobile_image') ? post.meta('highlights_mobile_image') : post.thumbnail.src }}" style="width: 100%;" />
            </div>
          {% endif %}

          <div class="col-12 col-md-5">
            <div class="row h-100">
              <div class="col-12 col-md-12 bg-grey cutout-slider-content">
                <h2 class="grafiti">{{ post.meta('year') }}</h2>

                {% if post.meta('simplified_name') %}
                  <h2 class="content-title">{{ post.meta('simplified_name') }}</h2>
                {% else %}
                  <h2 class="content-title">{{ post.title }}</h2>
                {% endif %}

                <div>
                  <p><span>Year:</span> {{ post.meta('year') ? post.meta('year') : "#NA" }}</p>
                  <p><span>Manufacturer:</span> {{ post.meta('manufacturer') ? post.meta('manufacturer') : "#NA" }}</p>
                  <p><span>Model:</span> {{ post.meta('model') ? post.meta('model') : "#NA" }}</p>
                  <p><span>Model Variant:</span> {{ post.meta('model_variant') ? post.meta('model_variant') : "#NA" }}</p>
                  <p><span>Exterior Color:</span> {{ post.meta('exterior_color') ? post.meta('exterior_color') : "#NA" }}</p>
                  <p><span>Current Mileage:</span> {{ post.meta('current_mileage') ? post.meta('current_mileage') : "#NA" }}</p>
                  <p><span>Chassis:</span> {{ post.meta('chassis') ? post.meta('chassis') : "#NA" }}</p>
                  <p><span>Engine:</span> {{ post.meta('engine') ? post.meta('engine') : "#NA" }}</p>
                </div>

                <a href="{{ post.link }}">
                  <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
                </a>

                {# <h5 class="extra-overlay year">
                  {{ post.meta('year') }}
                </h5> #}

                <button class="d-block d-lg-none carousel-control-prev" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="d-block d-lg-none carousel-control-next" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              {# {% if post.meta('highlights_right_image') %}
                <div class="col-12 col-md-2 d-none d-md-block bg-image bg-image-right" style="--bg-image: url({{ post.meta('highlights_right_image') }});"></div>
              {% else %}
                <div class="col-12 col-md-2 d-none d-md-block bg-image bg-image-right" style="--bg-image: url({{ post.thumbnail.src }});"></div>
              {% endif %} #}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <button class="d-none d-lg-block carousel-control-prev" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="d-none d-lg-block carousel-control-next" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
