<div id="carousel-{{ title }}" class="carousel slide h-100 first-look-carousel" data-bs-interval="false" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for key,post in posts %}
        <button type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide-to="{{key}}" class="{% if key == 0  %} {{ 'active' }} {% endif %}" aria-current="{% if key == 0  %} {{ 'current' }} {% endif %}" aria-label="Slide {{key}}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner h-100">
    {% for key,post in posts %}
      {% if post.meta('template') == 'a' %}  
        <div class="carousel-item carousel-item-1 h-100  {% if key == 0  %} {{ 'active' }} {% endif %}">
          <div class="row h-100 m-0">
            {% if post.meta('left_image') %}
              <div class="d-none d-lg-block col-6 bg-image bg-image-left" style="--bg-image: url({{ post.meta('left_image') }});">
            {% else %}
              <div class="d-none d-lg-block col-6 bg-image bg-image-left" style="--bg-image: url({{ site.theme.link ~ '/assets/img/first-look-left-a.png' }});">
            {% endif %}  
              <div class="tape-1"></div>
              <div class="tape-2"></div>
              <div class="polaroid">
                <img height="250" src="{{ site.theme.link }}/assets/img/first-look-polaroid-v3.png" />
              </div>
            </div>

            <div class="col-12 col-lg-6">
              <div class="row h-100">
                <div class="col-12 col-lg-10 first-look-content">
                  <h2 class="grafiti">{{ post.title ? post.title : 'IN THE WORKS' }}</h2>
                  <h2 class="content-title">{{ post.meta('subtitle') }}</h2>

                  <div class="pt-1 pb-4">
                    <p>
                      {{ post.preview.length(120).read_more(false).end('').strip(false) }}
                    </p>
                  </div>

                  <a href="{{ post.link }}">
                    <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
                  </a>
                </div>

                {% if post.meta('right_image') %}
                  <div class="d-none d-lg-block col-2 bg-image  bg-image-right" style="--bg-image: url({{ post.meta('right_image') }});">
                {% else %}
                  <div class="d-none d-lg-block col-2 bg-image  bg-image-right" style="--bg-image: url({{ site.theme.link }}/assets/img/first-look-right-a.png);">
                {% endif %}
                  <div class="tape-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% elseif post.meta('template') == 'b' %}
        <div class="carousel-item carousel-item-2 h-100 {% if key == 0  %} {{ 'active' }} {% endif %}">
          <div class="row h-100 m-0">
            <div class="col-12 col-lg-6">
              <div class="row h-100">
                {% if post.meta('left_image') %}
                  <div class="d-none d-lg-block col-2 bg-image bg-image-left" style="--bg-image: url({{ post.meta('left_image') }});">
                {% else %}
                  <div class="d-none d-lg-block col-2 bg-image bg-image-left" style="--bg-image: url({{ site.theme.link }}/assets/img/first-look-left-b.png);">
                {% endif %}
                  <div class="tape-1"></div>
                </div>

                <div class="col-12 col-lg-10 first-look-content">
                  <h2 class="grafiti">{{ post.title ? post.title : 'IN THE WORKS' }}</h2>
                  <h2 class="content-title">{{ post.meta('subtitle') }}</h2>

                  <div class="pt-1 pb-4">
                    <p>
                      {{ post.preview.length(120).read_more(false).end('').strip(false) }}
                    </p>
                  </div>

                  <a href="{{ post.link }}">
                    <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
                  </a>
                </div>
              </div>
            </div>

            {% if post.meta('right_image') %}
              <div class="d-none d-lg-block col-6 bg-image bg-image-right" style="--bg-image: url({{ post.meta('right_image') }});">
            {% else %}
              <div class="d-none d-lg-block col-6 bg-image bg-image-right" style="--bg-image: url({{ site.theme.link }}/assets/img/first-look-right-b.png);">
            {% endif %}
              <div class="tape-1"></div>
              <div class="tape-2"></div>
              <div class="polaroid">
                <img height="250" src="https://images.unsplash.com/photo-1462396881884-de2c07cb95ed" />
              </div>
            </div>
          </div>
        </div>
      {% elseif post.meta('template') == 'c' %}
        <div class="carousel-item carousel-item-3 h-100 {% if key == 0  %} {{ 'active' }} {% endif %}">
          <div class="row h-100 m-0">
            {% if post.meta('left_image') %}
              <div class="d-none d-lg-block col-6 bg-image bg-image-left" style="--bg-image: url({{ post.meta('left_image') }});">
            {% else %}
              <div class="d-none d-lg-block col-6 bg-image bg-image-left" style="--bg-image: url({{ site.theme.link }}/assets/img/first-look-right-c.png);">
            {% endif %}
              <div class="tape-1"></div>
              <div class="polaroid">
                <img height="250" src="https://images.unsplash.com/photo-1462396881884-de2c07cb95ed" />
              </div>
            </div>

            <div class="col-12 col-lg-6">
              <div class="row h-100">
                <div class="col-12 col-lg-10 first-look-content">
                  <h2 class="grafiti">{{ post.title ? post.title : 'IN THE WORKS' }}</h2>
                  <h2 class="content-title">{{ post.meta('subtitle') }}</h2>

                  <div class="pt-1 pb-4">
                    <p>
                      {{ post.preview.length(120).read_more(false).end('').strip(false) }}
                    </p>
                  </div>

                  <a href="{{ post.link }}">
                    <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
                  </a>
                </div>

                {% if post.meta('right_image') %}
                  <div class="d-none d-lg-block col-2 bg-image bg-image-right" style="--bg-image: url({{ post.meta('right_image') }});">
                {% else %}
                  <div class="d-none d-lg-block col-2 bg-image bg-image-right" style="--bg-image: url({{ site.theme.link }}/assets/img/first-look-left-c.png);">
                {% endif %}
                  <div class="tape-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
