<div id="carousel-{{ title }}" class="carousel product-carousel slide header-carousel" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for key,post in posts %}
      {% if key <= 3 %}
        <button type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide-to="{{key}}" class="{% if key == 0  %} {{ 'active' }} {% endif %}" aria-current="{% if key == 0  %} {{ 'current' }} {% endif %}" aria-label="Slide {{key}}"></button>
      {% endif %}
    {% endfor %}
  </div>

  <div class="carousel-inner">
    {% for key,post in posts %}
      {% if key <= 3 %}
        <div class="carousel-item {% if key == 0  %} {{ 'active' }} {% endif %}">
          <div class="bg-main w-100" style="--bg-image: url({{ post }});"></div>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="overlay-dark"></div>

  {% if showOverlay %}
    <div class="container slider-overlay-container">
      <div class="overlay header-details">
        <h2>
          {{ post.meta('year') }}</br> {{ post.meta('manufacturer') }}</br>
          <span>
            {{ post.meta('model') }}
            {{ post.meta('model_variant') }}
          </span>
        </h2>

        <ul>
          {% for contact in post.meta('car_box_details') %}
            <li>{{ contact.detail }}</li>
          {% endfor %}
        </ul>

        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#inquiryModal">
          INQUIRE
        </button>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="d-none header-details">
      <div class="header-details-content">
        <h2>{{ post.title }}</h2>

        <ul>
          {% if post.meta('transmission') %}
            <li>{{ post.meta('transmission') }}</li>
          {% endif %}
          {% if post.meta('current_mileage') %}
            <li>{{ post.meta('current_mileage') }}</li>
          {% endif %}
          {% if post.meta('examples_produced_for_us') %}
            <li>{{ post.meta('examples_produced_for_us') }}</li>
          {% endif %}
          <li>$Price on request</li>
        </ul>

        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#inquiryModal">
          INQUIRE
        </button>
      </div>
    </div>

    <div class="d-block d-lg-none header-details">
      <div class="header-details-content">
        <h2>{{ post.title }}</h2>

        <ul>
          {% if post.meta('transmission') %}
            <li>{{ post.meta('transmission') }}</li>
          {% endif %}
          {% if post.meta('current_mileage') %}
            <li>{{ post.meta('current_mileage') }}</li>
          {% endif %}
          {% if post.meta('examples_produced_for_us') %}
            <li>{{ post.meta('examples_produced_for_us') }}</li>
          {% endif %}
          <li>$Price on request</li>
        </ul>

        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#inquiryModal">
          INQUIRE
        </button>
      </div>
    </div>
  {% endif %}
</div>
