<div class="section-heading pt-md">
  <h3 class="title">@WEARECURATED</h3>

  <h5 class="subtitle">INSTAGRAM</h5>
</div>

<div class="container">
  {# Replace with something like a shortcode later on #}
  {# {{ wp.do_shortcode('[instagram feed="123"]') }} #}

  <div class="row mx-auto my-auto justify-content-center pb-5 pt-0">
    <div class="col-insta">
      <a href="https://www.instagram.com/wearecurated/?hl=en" target="_blank">
        <img src="{{ site.theme.link }}/dist/assets/img/insta1.png"/>
      </a>
    </div>
    <div class="col-insta">
      <a href="https://www.instagram.com/wearecurated/?hl=en" target="_blank">
        <img src="{{ site.theme.link }}/dist/assets/img/insta2.png"/>
      </a>
    </div>
    <div class="col-insta">
      <a href="https://www.instagram.com/wearecurated/?hl=en" target="_blank">
        <img src="{{ site.theme.link }}/dist/assets/img/insta3.png"/>
      </a>
    </div>
    <div class="col-insta">
      <a href="https://www.instagram.com/wearecurated/?hl=en" target="_blank">
        <img src="{{ site.theme.link }}/dist/assets/img/insta4.png"/>
      </a>
    </div>
    <div class="col-insta">
      <a href="https://www.instagram.com/wearecurated/?hl=en" target="_blank">
        <img src="{{ site.theme.link }}/dist/assets/img/insta5.png"/>
      </a>
    </div>
    <div class="col-insta">
      <a href="https://www.instagram.com/wearecurated/?hl=en" target="_blank">
        <img src="{{ site.theme.link }}/dist/assets/img/insta6.png"/>
      </a>
    </div>
    <div class="col-insta">
      <a href="https://www.instagram.com/wearecurated/?hl=en" target="_blank">
        <img src="{{ site.theme.link }}/dist/assets/img/insta7.png"/>
      </a>
    </div>
  </div>
</div>