<div class="container">
  <div class="row">
    <div class="col-md-4 text-start">
      <ul>
        {% for item in footer_menu_left.items %}
            <li {{ item.classes|join(' ') }}">
                <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                {% if item.children %}
                    <ul class="nav-drop">
                        {% for child in item.children %}
                            <li class="nav-drop-item">
                                <a href="{{ child.link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-4 text-center">
      <h1>CURATED</h1>
      <h2>VINTAGE SUPERCARS</h2>

      <ul class="icons">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img class="icon" src="{{ site.theme.link }}/assets/img/youtube.svg">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <img class="icon" src="{{ site.theme.link }}/assets/img/instagram.svg">
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">
            <img class="icon" src="{{ site.theme.link }}/assets/img/envelope-regular.svg">
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 text-end">
      <ul>
        {% for item in footer_menu_right.items %}
            <li {{ item.classes|join(' ') }}">
                <a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                {% if item.children %}
                    <ul class="nav-drop">
                        {% for child in item.children %}
                            <li class="nav-drop-item">
                                <a href="{{ child.link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row">
    <div class="col-md-4 text-start">
      <h6>Copyright {{"now"|date('Y')}}</h6>
    </div>

    <div class="col-md-4 text-center">
      <h6>2100 NE 2ND AVE MIAMA FL 33137</h6>
    </div>

    <div class="col-md-4 text-end">
      <h6>WEARECURATED.COM</h6>
    </div>
  </div>
</div>

<script src="{{ site.theme.link }}/assets/js/bootstrap.bundle.min.js"></script>
<script>
  let latest = document.querySelectorAll('.multi-carousel-latest .carousel-item');
  let journal = document.querySelectorAll('.multi-carousel-journal .carousel-item');

  // homepage latest multi-carousel
  latest.forEach((el) => {
      const minPerSlide = 4
      let next = el.nextElementSibling
      for (var i=1; i<minPerSlide; i++) {
          if (!next) next = items[0];

          let cloneChild = next.cloneNode(true);

          el.appendChild(cloneChild.children[0]);
          next = next.nextElementSibling;
      }
  });

  // homepage journal multi-carousel
  journal.forEach((el) => {
      const minPerSlide = 4
      let next = el.nextElementSibling
      for (var i=1; i<minPerSlide; i++) {
          if (!next) next = items[0];

          let cloneChild = next.cloneNode(true);

          el.appendChild(cloneChild.children[0]);
          next = next.nextElementSibling;
      }
  });
</script>
