<div class="container-fluid container-lg d-flex justify-content-center">
  <div class="navbar-brand flex-grow-1">
    <a href="{{ site.link }}">
      {% include 'partial/logo.twig' %}
    </a>
  </div>

  <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
  </button>
</div>

<nav class="navbar navbar-expand-lg d-none d-lg-block">
  <div class="container-fluid container-lg justify-content-between align-items-start">
    <ul class="navbar-nav">
      {% for item in main_navigation.items %}
          <li class="nav-item {{ item.classes|join(' ') }}">
              <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
              {% if item.children %}
                  <ul class="nav-drop">
                      {% for child in item.children %}
                          <li class="nav-drop-item">
                              <a href="{{ child.link }}">{{ child.title }}</a>
                          </li>
                      {% endfor %}
                  </ul>
              {% endif %}
          </li>
      {% endfor %}
    </ul>

    <ul class="navbar-nav icons">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="icon icon-dark icon-youtube" src="{{ site.theme.link }}/assets/img/youtube.png" />
          <img class="icon icon-light icon-youtube" src="{{ site.theme.link }}/assets/img/youtube-white.png" />
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="icon icon-dark icon-instagram" src="{{ site.theme.link }}/assets/img/instagram.png" />
          <img class="icon icon-light icon-instagram" src="{{ site.theme.link }}/assets/img/instagram-white.png" />
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="icon icon-dark icon-mail" src="{{ site.theme.link }}/assets/img/newsletter.png" />
          <img class="icon icon-light icon-mail" src="{{ site.theme.link }}/assets/img/newsletter-white.png" />
        </a>
      </li>
    </ul>
  </div>
</nav>

{% include 'partial/header-mobile.twig' %}
  