{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="featured-container">

		<div class="overlay light-overlay"></div>
		{% if post.thumbnail.src %}
			{# <div class="measure"></div> #}

			<div class="featured" style="--bg-image: url({{ post.thumbnail.src }});"></div>
		{% else %}
			<video autoplay muted loop id="myVideo">
				<source src="{{ site.theme.link }}/assets/img/curated-video.mp4" type="video/mp4">
			</video>
		{% endif %}
		</div>

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading">
					<h3 class="title">NEW & NOW</h3>
					<h5 class="subtitle mb-0">HIGHLIGHTS</h5>
				</div>

				<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{% set ctr = 0 %}
						{% for key,post in highlights %}
							<div class="carousel-item {% if key == 0  %} {{ 'active' }} {% endif %}">
								<div class="bg-left" style="--bg-image: url({{ post.thumbnail.src }});"></div>

								<div class="bg-right" style="--bg-image-right: url('{{ site.theme.link }}/assets/img/lambo-2-left.jpeg');"></div>

								<div class="overlay">
									<div class="overlay-content">
										<h2>{{ post.title }}</h2>

										<p>Year: <span>{{ post.meta('year') ? post.meta('year') : "#NA" }}</span></p>
										<p>Manufacturer: <span>{{ post.meta('manufacturer') ? post.meta('manufacturer') : "#NA" }}</span></p>
										<p>Model: <span>{{ post.meta('model') ? post.meta('model') : "#NA" }}</span></p>
										<p>Model Variant: <span>{{ post.meta('model_variant') ? post.meta('model_variant') : "#NA" }}</span></p>
										<p>Exterior Color: <span>{{ post.meta('exterior_color') ? post.meta('exterior_color') : "#NA" }}</span></p>
										<p>Current Mileage: <span>{{ post.meta('current_mileage') ? post.meta('current_mileage') : "#NA" }}</span></p>
										<p>Chassis: <span>{{ post.meta('chassis') ? post.meta('chassis') : "#NA" }}</span></p>
										<p>Engine: <span>{{ post.meta('engine') ? post.meta('engine') : "#NA" }}</span></p>

										<a href="{{ post.link }}">
											<button type="button" class="btn btn-primary btn-sm">READ MORE</button>
										</a>
									</div>

									<div class="overlay-background">
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

					<button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

				<div class="section-heading">
					<h3 class="title">LATEST ARRIVALS</h3>
					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

				<div class="row mx-auto my-auto justify-content-center">
					<div id="multiCarousel" class="multi-carousel multi-carousel-latest carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner" role="listbox">
							{% set ctr = 0 %}
							{% for key,post in latest %}
								<div class="row gx-2 carousel-item {% if key == 0  %} {{ 'active' }} {% endif %}">
									<div class="col-md-3">
										<a href="{{ post.link }}">
											<div class="card border-0">
												{% if post.thumbnail.src %}
													<img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid card-img-fit" alt="...">
												{% else %}
													<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="...">
												{% endif %}

												<div class="card-body">
													<h5 class="card-title mb-0">{{ post.title }}</h5>
												</div>
											</div>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>

						<a class="carousel-control-prev bg-transparent w-autoo" href="#multiCarousel" role="button" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						</a>

						<a class="carousel-control-next bg-transparent w-autoo" href="#multiCarousel" role="button" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>

				<div class="section-heading">
					<h3 class="title">FIRST LOOK</h3>
					<h5 class="subtitle mb-0">CURATED</h5>
				</div>

				<div class="carousel-section">
					<img src="{{ site.theme.link }}/assets/img/tape-3.png" class="carousel-tape-horizontal">
					<div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							{% for key,post in curated %}
								<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="{{key}}" class="active" aria-current="true" aria-label="Slide {{ key }}"></button>
							{% endfor %}
						</div>

						<div class="carousel-inner">
							{% set ctr = 0 %}
							{% for key,post in curated %}
								<div class="carousel-item {% if key == 0  %} {{ 'active' }} {% endif %}">
									<div class="bg-left" style="--bg-image: url({{ post.thumbnail.src }});"></div>

									<div class="bg-right" style="--bg-image-right: url('{{ site.theme.link }}/assets/img/lambo-2-left.jpeg');"></div>

									<div class="overlay">
										<div class="overlay-content">
											<h2>{{ post.title }}</h2>

											<p>Year: <span>2010</span></p>
											<p>Manufacturer: <span>Lamborghini</span></p>
											<p>Model: <span>MURCIELAGO</span></p>
											<p>Model Variant: <span>LP670-4 SuperVeloce</span></p>
											<p>Exterior Color: <span>Nero Aldebaran</span></p>
											<p>Current Mileage: <span>610 miles</span></p>
											<p>Chassis: <span>#ZHWBU8AH0ALA03832</span></p>
											<p>Engine: <span>#NA</span></p>

											<a href="{{ post.link }}">
												<button type="button" class="btn btn-primary btn-sm">READ MORE</button>
											</a>
										</div>

										<div class="overlay-background">
										</div>

										<img src="{{ site.theme.link }}/assets/img/tape-2.png" class="carousel-tape-vertical">
									</div>
								</div>
							{% endfor %}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>

							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>

							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>

				<div class="section-heading">
					<h3 class="title">THE JOURNAL</h3>

					<h5 class="subtitle mb-0">GET UP TO SPEED</h5>
				</div>

				<div class="row mx-auto my-auto justify-content-center">
					<div id="multiCarousel2" class="multi-carousel multi-carousel-journal carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner" role="listbox">
							{% set ctr = 0 %}
							{% set placeholder = site.theme.link ~ '/assets/img/placeholder.jpeg' %}
							{% for key,post in journal %}
								<div class="row gx-2 carousel-item {% if key == 0  %} {{ 'active' }} {% endif %}">
									<div class="col-md-3">
										<a href="{{ post.link }}">
											<div class="card border-0">
												{% if post.thumbnail.src %}
													<img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid card-img-fit" alt="...">
												{% else %}
													<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="...">
												{% endif %}

												<div class="card-body">
													<h5 class="card-title mb-0">{{ post.title }}</h5>
												</div>
											</div>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>

						<a class="carousel-control-prev bg-transparent w-auto" href="#multiCarousel2" role="button" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						</a>

						<a class="carousel-control-next bg-transparent w-auto" href="#multiCarousel2" role="button" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>

				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
