
{% extends "base.twig" %}
{% set headerClass = "header-light" %}

{% if post.thumbnail.src is empty %}
  {% set headerClass = "position-relative" %}
{% endif %}

{% block content %}
  <div class="featured-container">
    {% if post.thumbnail.src %}
      <div class="featured" style="--bg-image: url({{ post.thumbnail.src }});"></div>
    {% else %}
      <div class="featured" style="--bg-image: url({{ site.theme.link }}/assets/img/placeholder.jpeg);"></div>
    {% endif %}

    <a href="{{ post.link }}">
      <button type="button" class="btn btn-inquire btn-light btn-sm">INQUIRE</button>
    </a>
  </div>

	<div class="inner-wrapper">

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <div class="section-heading mt-5 mb-4">
        <h3 class="title">{{ post.title }}</h3>
      </div>

      <div id="aboutCarousel" class="carousel slide" data-bs-ride="carousel">
        {# <div class="carousel-indicators">
          {% for key,post in highlights %}
              <button type="button" data-bs-target="#aboutCarousel" data-bs-slide-to="{{key}}" class="{% if key == 0  %} {{ 'active' }} {% endif %}" aria-current="{% if key == 0  %} {{ 'current' }} {% endif %}" aria-label="Slide {{key}}"></button>
          {% endfor %}
        </div> #}

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-6 bg-image" style="--bg-image: url({{ post.meta('about_us_image_1') }});"></div>

              <div class="col-6">
                <div class="row">
                  <div class="col-10 bg-grey p-5">
                    <h2>WE ARE CURATED</h2>

                    <p>After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s, 
                    I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent 
                    alternative investment asset class. Ignoring the noise of speculating dealers, “Broadway” Show auction 
                    houses and using reason and passion to build an investment automobile collection portfolio.</p>
                    
                    <h2 class="mt-4 mb-2">SALES</h2>

                    <p>We buy, represent and sell Investment quality "blue chip" cars. Low Mileage, High Quality, 
                    Limited Quantity examples of Post War European Exotics and Supercars. Knowledge is everything. 
                    Knowledge of the "Investment," knowledge of the market, knowledge of make/model specific detail,
                    and understanding the liquidity of the product. Curated knows Classic Cars. We are strict about what we buy 
                    and dedicated to our DNA. We only buy, trade and sell cars we know; Lamborghini Countach, Diablo and Miura models. 
                    Specific Ferrari Challenge models. Specific Supercar models from 1980s/1990s. And a few Jaguar E-Types here and there…
                    </p>

                    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide="next" class="btn btn-primary btn-sm">READ MORE</button>
                  </div>

                  <div class="col-2 bg-image" style="--bg-image: url({{ post.meta('about_us_image_2') }});"></div>
                </div>
              </div>
            </div>

            {# <div class="bg-left" style="--bg-image: url({{ post.thumbnail.src }});"></div>

            {% if post.meta('featured_image_2')  %}
              <div class="featured" style="--bg-image: url({{ post.meta('featured_image_2') }});"></div>
            {% else %}
              <div class="featured" style="--bg-image: url('{{ site.theme.link }}/assets/img/lambo-2-right.jpeg');"></div>
            {% endif %}

            <div class="overlay">
              <div class="overlay-content">
                <h2>WE ARE CURATED</h2>

                <p>After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s, 
                I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent 
                alternative investment asset class. Ignoring the noise of speculating dealers, “Broadway” Show auction 
                houses and using reason and passion to build an investment automobile collection portfolio.</p>
                
                <h2 class="mt-4 mb-2">SALES</h2>

                <p>We buy, represent and sell Investment quality "blue chip" cars. Low Mileage, High Quality, 
                Limited Quantity examples of Post War European Exotics and Supercars. Knowledge is everything. 
                Knowledge of the "Investment," knowledge of the market, knowledge of make/model specific detail,
                and understanding the liquidity of the product. Curated knows Classic Cars. We are strict about what we buy 
                and dedicated to our DNA. We only buy, trade and sell cars we know; Lamborghini Countach, Diablo and Miura models. 
                Specific Ferrari Challenge models. Specific Supercar models from 1980s/1990s. And a few Jaguar E-Types here and there…
                </p>

                <a href="{{ post.link }}">
                  <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
                </a>
              </div>

              <div class="overlay-background">
              </div>
            </div> #}
          </div>

          <div class="carousel-item">
            <div class="row">
              <div class="col-6 bg-image" style="--bg-image: url({{ post.meta('about_us_image_1') }});"></div>

              <div class="col-6">
                <div class="row">
                  <div class="col-10 bg-grey p-5">
                    <h2>WE ARE CURATED</h2>

                    <p>After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s, 
                    I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent 
                    alternative investment asset class. Ignoring the noise of speculating dealers, “Broadway” Show auction 
                    houses and using reason and passion to build an investment automobile collection portfolio.</p>
                    
                    <h2 class="mt-4 mb-2">SALES</h2>

                    <p>We buy, represent and sell Investment quality "blue chip" cars. Low Mileage, High Quality, 
                    Limited Quantity examples of Post War European Exotics and Supercars. Knowledge is everything. 
                    Knowledge of the "Investment," knowledge of the market, knowledge of make/model specific detail,
                    and understanding the liquidity of the product. Curated knows Classic Cars. We are strict about what we buy 
                    and dedicated to our DNA. We only buy, trade and sell cars we know; Lamborghini Countach, Diablo and Miura models. 
                    Specific Ferrari Challenge models. Specific Supercar models from 1980s/1990s. And a few Jaguar E-Types here and there…
                    </p>

                    <button type="button" data-bs-target="#aboutCarousel" data-bs-slide="next" class="btn btn-primary btn-sm">READ MORE</button>
                  </div>

                  <div class="col-2 bg-image" style="--bg-image: url({{ post.meta('about_us_image_2') }});"></div>
                </div>
              </div>
            </div>

            {# <div class="bg-left" style="--bg-image: url({{ post.thumbnail.src }});"></div>

            {% if post.meta('featured_image_2')  %}
              <div class="featured" style="--bg-image: url({{ post.meta('featured_image_2') }});"></div>
            {% else %}
              <div class="featured" style="--bg-image: url('{{ site.theme.link }}/assets/img/lambo-2-right.jpeg');"></div>
            {% endif %}

            <div class="overlay">
              <div class="overlay-content">
                <h2>WE ARE CURATED</h2>

                <p>After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s, 
                I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent 
                alternative investment asset class. Ignoring the noise of speculating dealers, “Broadway” Show auction 
                houses and using reason and passion to build an investment automobile collection portfolio.</p>
                
                <h2 class="mt-4 mb-2">SALES</h2>

                <p>We buy, represent and sell Investment quality "blue chip" cars. Low Mileage, High Quality, 
                Limited Quantity examples of Post War European Exotics and Supercars. Knowledge is everything. 
                Knowledge of the "Investment," knowledge of the market, knowledge of make/model specific detail,
                and understanding the liquidity of the product. Curated knows Classic Cars. We are strict about what we buy 
                and dedicated to our DNA. We only buy, trade and sell cars we know; Lamborghini Countach, Diablo and Miura models. 
                Specific Ferrari Challenge models. Specific Supercar models from 1980s/1990s. And a few Jaguar E-Types here and there…
                </p>

                <a href="{{ post.link }}">
                  <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
                </a>
              </div>

              <div class="overlay-background">
              </div>
            </div> #}
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="section-heading mt-3 mb-4">
        <h3 class="title">OUR STORY</h3>
      </div>

       <div id="storyCarousel" class="carousel slide" data-bs-ride="carousel">
        {# <div class="carousel-indicators">
          {% for key,post in highlights %}
              <button type="button" data-bs-target="#storyCarousel" data-bs-slide-to="{{key}}" class="{% if key == 0  %} {{ 'active' }} {% endif %}" aria-current="{% if key == 0  %} {{ 'current' }} {% endif %}" aria-label="Slide {{key}}"></button>
          {% endfor %}
        </div> #}

        <div class="carousel-inner">
          <div class="carousel-item {% if key == 0  %} {{ 'active' }} {% endif %}">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-2 bg-image" style="--bg-image: url({{ post.meta('about_us_image_3') }});"></div>

                  <div class="col-10 bg-grey p-5">
                    <h2>IN THE BEGINNING...</h2>

                    <p>
                      Almost 60 years ago my grandfather started repairing odd and rare European cars in Springfield, Mass.
                      During an era where Ferrari and Lamborghini were building small quantities of hand made cars that rarely 
                      made it onto American soil. Arguably, this moment in history was the most significant time for the automobile, 
                      an era that produced the most iconic cars of our time which became the DNA for todays most famous marques.
                       He bought and sold cars like the Ferrari 250 GTO, Jaguar D-Type and Lamborghini Miura. 
                       (Selling his Ferrari 205 GTO for $9,500. to Robert Sowers has always been a sore spot.) 
                       While my grandfather loved engineering and mechanics. My father loved the automobile. 
                       Working under stewardship of my grandfather, he became a brilliant mechanic and at an early age started 
                       collecting cars. At the New York Auto Show in 1972 he bought a one-off Lamborghini Miura SV from Modena Racing 
                       that he still possess today. In the 1980s, my father became the authorized service in Palm Beach, Florida for 
                       Lamborghini facilitated by Joe Nastasi. Nastasi was the sole distributor for Lamborghini in the Americas.
                    </p>

                    <a href="{{ post.link }}">
                      <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-6 bg-image" style="--bg-image: url({{ post.meta('about_us_image_4') }});"></div>
            </div>

            {# <div class="bg-left" style="--bg-image: url({{ post.thumbnail.src }});"></div>

            {% if post.meta('featured_image_2')  %}
              <div class="featured" style="--bg-image: url({{ post.meta('featured_image_2') }});"></div>
            {% else %}
              <div class="featured" style="--bg-image: url('{{ site.theme.link }}/assets/img/lambo-2-right.jpeg');"></div>
            {% endif %}

            <div class="overlay">
              <div class="overlay-content">
                <h2>WE ARE CURATED</h2>

                <p>After 12 years of buying and selling hundreds of vintage Lamborghini’s and Ferrari’s, 
                I partnered with Jordi Ricart and Alan Lazowski to prove that the automobile is a viable and consistent 
                alternative investment asset class. Ignoring the noise of speculating dealers, “Broadway” Show auction 
                houses and using reason and passion to build an investment automobile collection portfolio.</p>
                
                <h2 class="mt-4 mb-2">SALES</h2>

                <p>We buy, represent and sell Investment quality "blue chip" cars. Low Mileage, High Quality, 
                Limited Quantity examples of Post War European Exotics and Supercars. Knowledge is everything. 
                Knowledge of the "Investment," knowledge of the market, knowledge of make/model specific detail,
                and understanding the liquidity of the product. Curated knows Classic Cars. We are strict about what we buy 
                and dedicated to our DNA. We only buy, trade and sell cars we know; Lamborghini Countach, Diablo and Miura models. 
                Specific Ferrari Challenge models. Specific Supercar models from 1980s/1990s. And a few Jaguar E-Types here and there…
                </p>

                <a href="{{ post.link }}">
                  <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
                </a>
              </div>

              <div class="overlay-background">
              </div>
            </div> #}
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#storyCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#storyCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="section-heading mb-4">
        <h3 class="title">OUR FOUNDERS</h3>
      </div>

      <div class="row">
        <div class="col-6 bg-image" style="--bg-image: url({{ post.meta('founders_image') }});">
        
        </div>

        <div class="col-6 p-5 bg-grey">
          <h2 class="mb-3">John & Jordi</h2>

          <p class="mb-5">
            To know John and Jordi as partners is to understand the concept of the whole being greater than the sum of its part. 
            Aristotle’s expression rightly defines the modern concept of synergy, and aptly articulates the dynamic of CURATED’s founders.</br></br>
            This exemplary partnership is one of mutual respect and complementary skill sets; yet, it might appear to be and unexpected pairing 
            at first glance – a passionate car aficionado in ripped jeans besides a seasoned corporate executive in a collared shirt, 
            and with a law degree, no less, However, their polarized backgrounds intersect at the crossroads of integrity and entrepreneurship. And further, 
            John and Jordi share a commitment to stewarding the next generation of leaders and collectors.</br></br>

            Born from John’s innate love of vintage European bluechip supercars and Jordi’s inherit entrepreneurial mindset, 
            CURATED was founded in 015. AT the time, Jordi was serving as GM of Lou La Vie, following the acquisition of his previous employer, G
            entleman Car Club, alongside John, who served as President. 
            Soon after John acquired and sold a Lamborghini Countach within a short amount of time, and with an impressive margin, 
            the two began discussing the profitability and potential growth trajectory within this this niche market. And thus, the genesis of CURATED. 
            John and Jordi (with their Partner Alan Lazowski) founded the company in 2015…
          </p>

          <a href="{{ post.link }}">
            <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
          </a>
        </div>
      </div>
    </article>
	</div><!-- /content-wrapper -->
{% endblock %}