{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		{% include 'partial/featured-header.twig' with { hideInquiry: true } %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading">
					<h3 class="title">LATEST ARRIVALS</h3>

					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

        <div class="container-fluid pb-5">
          <div class="row">
            <div class="col-6 filter">
              <label>FILTER BY:</label>
              {{post.content}}
            </div>
          </div>

          <div id="car__list" class="row">

            {% for key,post in cars %}
              <div class="col-md-4 col-6 car-item">
                <div class="card inventory-card border-0">
                  <div class="card-media">
                    {% if post.thumbnail.src %}
                      <img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid card-img-fit" alt="...">
                    {% else %}
                      <img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="...">
                    {% endif %}
                    <div class="overlay">
                      <div class="details">
                        <h6>DETAILS</h6>
                        <ul>
                          <li>{{ post.meta('feature_detail_1') ? post.meta('feature_detail_1') : "#NA" }}</li>
                          <li>{{ post.meta('feature_detail_2') ? post.meta('feature_detail_2') : "#NA" }}</li>
                          <li>{{ post.meta('feature_detail_3') ? post.meta('feature_detail_3') : "#NA" }}</li>
                          <li>{{ post.meta('feature_detail_4') ? post.meta('feature_detail_4') : "#NA" }}</li>
                        </ul>
                        <a href="{{post.link}}" class="text-white">MORE →</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="{{post.link}}">
                      <h5 class="card-title mb-0">{{post.title}}</h5>
                      <p class="card-text">{{ post.meta('model_variant') ? post.meta('model_variant') : "#NA" }}</p>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}

            <div class="load-more-btn-container justify-content-end">
            </div>
          </div>
        </div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
