{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="featured-container">

		<div class="overlay dark-overlay"></div>
		{% if post.thumbnail.src %}
			{# <div class="measure"></div> #}

			<div class="featured" style="--bg-image: url({{ post.thumbnail.src }});"></div>
		{% else %}
			<video autoplay muted loop id="myVideo">
				<source src="{{ site.theme.link }}/assets/img/curated-video.mp4" type="video/mp4">
			</video>
		{% endif %}
		</div>

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">

        {% include 'partial/section-heading.twig' with { title: 'LATEST ARRIVALS', subtitle: 'INVENTORY' } %}

        <div class="container-fluid mb-5">
          <div id="car__list" class="row">

            {% for key,post in cars %}
              <div class="col-md-4 col-6 car-item">
                <div class="card inventory-card border-0">
                  <div class="card-media">
                    {% if post.thumbnail.src %}
                      <img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid card-img-fit" alt="...">
                    {% else %}
                      <img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="...">
                    {% endif %}
                    <div class="overlay">
                      <div class="details">
                        <h6>DETAILS</h6>
                        <ul>
                          <li>{{ post.meta('feature_detail_1') ? post.meta('feature_detail_1') : "#NA" }}</li>
                          <li>{{ post.meta('feature_detail_2') ? post.meta('feature_detail_2') : "#NA" }}</li>
                          <li>{{ post.meta('feature_detail_3') ? post.meta('feature_detail_3') : "#NA" }}</li>
                          <li>{{ post.meta('feature_detail_4') ? post.meta('feature_detail_4') : "#NA" }}</li>
                        </ul>
                        <a href="{{post.link}}" class="text-white">MORE →</a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <a href="{{post.link}}">
                      <h5 class="card-title mb-0">{{post.title}}</h5>
                      <p class="card-text">{{ post.meta('model_variant') ? post.meta('model_variant') : "#NA" }}</p>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}

            <div class="load-more-btn-container justify-content-end">
            </div>
          </div>
        </div>

				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
