{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		{% include 'partial/featured-header.twig' with { hideInquiry: true } %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading">
					<h3 class="title">NEW & NOW</h3>
					<h5 class="subtitle mb-0">HIGHLIGHTS</h5>
				</div>

				{% include 'partial/cutout-slider.twig' with { posts: highlights, title: 'highlights' } %}

				<div class="section-heading pt-sm">
					<h3 class="title">LATEST ARRIVALS</h3>
					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

				<div class="row more px-3 text-end">
					<a class="more-link" href="{{ site.link }}/inventory">
						MORE
						<span>
							&raquo;
						</span>
					</a>
				</div>

				{% include 'partial/multi-carousel.twig' with { posts: latest, title: 'latest' } %}

				<div class="section-heading pt-sm mb-md">
					<h3 class="title">FIRST LOOK</h3>
					<h5 class="subtitle mb-0">CURATED</h5>
				</div>

				{% include 'partial/cutout-slider.twig' with { posts: curated, title: 'first-look' } %}

				<div class="section-heading">
					<h3 class="title">THE JOURNAL</h3>

					<h5 class="subtitle mb-0">GET UP TO SPEED</h5>
				</div>

				<div class="row more px-3 text-end">
					<a class="more-link" href="{{ site.link }}/stories">
						MORE
						<span>
							&raquo;
						</span>
					</a>
				</div>

				{% include 'partial/multi-carousel.twig' with { posts: journal, title: 'journal' } %}

				<div class="section-heading pb-sm">
					<h3 class="title">OUR CHANNEL</h3>

					<h5 class="subtitle mb-0">YOUTUBE</h5>
				</div>

				<div class="row youtube-container">
					<iframe width="420" height="650" src="https://www.youtube.com/embed/rI83PMNvljw?controls=0">
					</iframe>
					
					<div class="youtube-title">
						<div class="youtube-overlay"></div>

						<img src="{{ site.theme.link }}/assets/img/youtube-label.png"/>

						<h2>WE BROKE</br> STRADMAN'S</br> LAMBORGHINI</h2>
					</div>
				</div>

				{% include 'partial/instagram-section.twig' %}

				{# <div class="article-body">
					{{post.content}}
				</div> #}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
