{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		{% if post.thumbnail.src %}
			<div class="featured-container">
				<div class="featured" style="--bg-image: url({{ post.thumbnail.src }});"></div>
			</div>
		{% endif %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading py-3 mt-5 mb-3">
					<h3 class="title">NEW AND NOW</h3>
					<h5 class="subtitle mb-0">HIGHLIGHTS</h5>
				</div>

				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="{{ site.theme.link }}/assets/img/test.jpeg" class="d-block w-100" alt="test 1">
							<div class="overlay">
								<div class="overlay-content">
									<h2>LAMBORGHINI MURCIELAGO SV</h2>

									<p>Year: <span>2010</span></p>
									<p>Manufacturer: <span>Lamborghini</span></p>
									<p>Model: <span>MURCIELAGO</span></p>
									<p>Model Variant: <span>LP670-4 SuperVeloce</span></p>
									<p>Exterior Color: <span>Nero Aldebaran</span></p>
									<p>Current Mileage: <span>610 miles</span></p>
									<p>Chassis: <span>#ZHWBU8AH0ALA03832</span></p>
									<p>Engine: <span>#NA</span></p>

									<button type="button" class="btn btn-primary btn-sm">READ MORE</button>
								</div>

								<div class="overlay-background">
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<img src="{{ site.theme.link }}/assets/img/test.jpeg" class="d-block w-100" alt="test 1">
							<div class="overlay">
								<div class="overlay-content">
									<h2>LAMBORGHINI MURCIELAGO SV</h2>

									<p>Year: <span>2010</span></p>
									<p>Manufacturer: <span>Lamborghini</span></p>
									<p>Model: <span>MURCIELAGO</span></p>
									<p>Model Variant: <span>LP670-4 SuperVeloce</span></p>
									<p>Exterior Color: <span>Nero Aldebaran</span></p>
									<p>Current Mileage: <span>610 miles</span></p>
									<p>Chassis: <span>#ZHWBU8AH0ALA03832</span></p>
									<p>Engine: <span>#NA</span></p>

									<button type="button" class="btn btn-primary btn-sm">READ MORE</button>
								</div>

								<div class="overlay-background">
								</div>
							</div>
						</div>

					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

				<div class="section-heading py-3">
					<h3 class="title">LATEST ARRIVALS</h3>
					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

				<div class="row mx-auto my-auto justify-content-center">
					<div id="multiCarousel" class="multi-carousel carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner" role="listbox">
								<div class="row gx-2 carousel-item active">
									<div class="col-md-3">
										<div class="card border-0">
											<img src="https://images.pexels.com/photos/544542/pexels-photo-544542.jpeg" class="card-img-top img-fluid card-img-fit" alt="...">
											<div class="card-body">
												<h5 class="card-title mb-0">2007 Ferrari</h5>
												<p class="card-text">599 GTB</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row gx-2 carousel-item">
									<div class="col-md-3">
										<div class="card border-0">
											<img src="https://images.pexels.com/photos/1592384/pexels-photo-1592384.jpeg" class="card-img-top img-fluid card-img-fit" alt="...">
											<div class="card-body">
												<h5 class="card-title mb-0">2008 Ferrari</h5>
												<p class="card-text">599 GTB</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row gx-2 carousel-item">
									<div class="col-md-3">
										<div class="card border-0">
											<img src="https://images.pexels.com/photos/242125/pexels-photo-242125.jpeg" class="card-img-top img-fluid card-img-fit" alt="...">
											<div class="card-body">
												<h5 class="card-title mb-0">2009 Ferrari</h5>
												<p class="card-text">599 GTB</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row gx-2 carousel-item">
									<div class="col-md-3">
										<div class="card border-0">
												<img src="https://images.pexels.com/photos/1402787/pexels-photo-1402787.jpeg" class="card-img-top img-fluid card-img-fit" alt="...">
											<div class="card-body">
												<h5 class="card-title mb-0">2010 Ferrari</h5>
												<p class="card-text">599 GTB</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row gx-2 carousel-item">
									<div class="col-md-3">
										<div class="card border-0">
											<img src="https://images.pexels.com/photos/461890/pexels-photo-461890.jpeg" class="card-img-top img-fluid card-img-fit" alt="...">
											<div class="card-body">
												<h5 class="card-title mb-0">2011 Ferrari</h5>
												<p class="card-text">599 GTB</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row gx-2 carousel-item">
									<div class="col-md-3">
										<div class="card border-0">
											<img src="https://images.pexels.com/photos/169677/pexels-photo-169677.jpeg" class="card-img-top img-fluid card-img-fit" alt="...">
											<div class="card-body">
												<h5 class="card-title mb-0">2012 Ferrari</h5>
												<p class="card-text">599 GTB</p>
											</div>
										</div>
									</div>
								</div>
						</div>
						<a class="carousel-control-prev bg-transparent w-aut" href="#multiCarousel" role="button" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						</a>
						<a class="carousel-control-next bg-transparent w-aut" href="#multiCarousel" role="button" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>

				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}