{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		{% if post.thumbnail.src %}
			<div class="featured-container">
				<div class="featured" style="--bg-image: url({{ post.thumbnail.src }});"></div>
			</div>
		{% endif %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading">
					<h3 class="title">{{post.title}}</h3>
				</div>
				
				<div class="article-body">
					<div class="row">
						<div class="col-md-5 order-2 order-md-2">
							<aside class="car-info mb-5">
								<p><span class="text-uppercase">Year:</span> {{ post.meta('year') ? post.meta('year') : "#NA" }}</p>
								<p><span class="text-uppercase">Manufacturer:</span> {{ post.meta('manufacturer') ? post.meta('manufacturer') : "#NA" }}</p>
								<p><span class="text-uppercase">Model Variant:</span> {{ post.meta('model_variant') ? post.meta('model_variant') : "#NA" }}</p>
								<p><span class="text-uppercase">Exterior Color:</span> {{ post.meta('exterior_color') ? post.meta('exterior_color') : "#NA" }}</p>
								<p><span class="text-uppercase">Interior Color:</span> {{ post.meta('interior_color') ? post.meta('interior_color') : "#NA" }}</p>
								<p><span class="text-uppercase">Current Mileage:</span> {{ post.meta('current_mileage') ? post.meta('current_mileage') : "#NA" }}</p>
								<p><span class="text-uppercase">Version:</span> {{ post.meta('version') ? post.meta('version') : "#NA" }}</p>
								<p><span class="text-uppercase">Chassis: {{ post.meta('chassis') ? post.meta('chassis') : "#NA" }}</p>
								<p><span class="text-uppercase">Engine Capacity/Power:</span> {{ post.meta('engine_capacity') ? post.meta('engine_capacity') : "#NA" }}</p>
								<p><span class="text-uppercase">Transmission:</span> {{ post.meta('transmission') ? post.meta('transmission') : "#NA" }}</p>
								<p><span class="text-uppercase">Top Speed:</span> {{ post.meta('top_speed') ? post.meta('top_speed') : "#NA" }}</p>
								<p><span class="text-uppercase">Designer:</span> {{ post.meta('designer') ? post.meta('designer') : "#NA" }}</p>
								<p><span class="text-uppercase">Series:</span> {{ post.meta('series') ? post.meta('series') : "#NA" }}</p>
								<p><span class="text-uppercase">Parent Company:</span> {{ post.meta('parent_company') ? post.meta('parent_company') : "#NA" }}</p>
								<p><span class="text-uppercase">Public Debut:</span> {{ post.meta('public_debut') ? post.meta('public_debut') : "#NA" }}</p>
								<p><span class="text-uppercase">Predecessor:</span> {{ post.meta('predecessor') ? post.meta('predecessor') : "#NA" }}</p>
								<p><span class="text-uppercase">Successor:</span> {{ post.meta('successor') ? post.meta('successor') : "#NA" }}</p>
								<p><span class="text-uppercase">Years Produced:</span> {{ post.meta('years_produced') ? post.meta('years_produced') : "#NA" }}</p>
								<p><span class="text-uppercase">Examples Produced in This Color:</span> {{ post.meta('examples_produced_in_this_color') ? post.meta('examples_produced_in_this_color') : "#NA" }}</p>
								<p><span class="text-uppercase">Examples Produced in This Interior Package:</span> {{ post.meta('examples_produced_in_this_interior_package') ? post.meta('examples_produced_in_this_interior_package') : "#NA" }}</p>
								<p><span class="text-uppercase">Examples Produced for U.S.:</span> {{ post.meta('examples_produced_for_us') ? post.meta('examples_produced_for_us') : "#NA" }}</p>
								<p><span class="text-uppercase">Total Production:</span> {{ post.meta('total_production') ? post.meta('total_production') : "#NA" }}</p>
								<p><span class="text-uppercase">Books & Tools:</span> {{ post.meta('books_and_tools') ? post.meta('books_and_tools') : "#NA" }}</p>
								<p><span class="text-uppercase">CarFAX:</span> {{ post.meta('carfax') ? post.meta('carfax') : "#NA" }}</p>
								<p><span class="text-uppercase">Notable ownership:</span> {{ post.meta('notable_ownership') ? post.meta('notable_ownership') : "#NA" }}</p>
							</aside>

							<div class="car-details">
								{% if post.content %}
									<h4>MORE DETAILS</h4>

									<div class="content">
										{{post.content}}
									</div>
								{% endif %}

								<div class="cta">
									<button class="btn btn-primary btn-sm">INQUIRE</button>
									<button class="btn btn-primary btn-sm" onclick="display()">CREATE PDF</button>
								</div>
							</div>
						</div>

						<div class="col-md-7 order-1 order-md-2">
							<div class="car-featured-image">
								{% if post.meta('featured_gallery_image') %}
									<img class="img-fluid" alt="{{post.title}} ~ ' featured gallery image'" src="{{ post.meta('featured_gallery_image') }}" />
								{% else %}
									<img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid" alt="{{post.title}} ~ '-placeholder">
								{% endif %}
							</div>

							<ul class="car-gallery">
								<li>
									{% if post.meta('gallery_image_1') %}
										<img src="{{ post.meta('gallery_image_1')}}" alt="{{post.title}} ~ '-image-1'" />
									{% else %}
										<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}} ~ '-placeholder">
									{% endif %}
									<div class="overlay"></div>
								</li>
								<li>
									{% if post.meta('gallery_image_2') %}
										<img src="{{ post.meta('gallery_image_2')}}" alt="{{post.title}} ~ '-image-2'" />
									{% else %}
										<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}} ~ '-placeholder">
									{% endif %}
									<div class="overlay"></div>
								</li>
								<li>
									{% if post.meta('gallery_image_3') %}
										<img src="{{ post.meta('gallery_image_3')}}" alt="{{post.title}} ~ '-image-3'" />
									{% else %}
										<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}} ~ '-placeholder">
									{% endif %}

									<div class="overlay"></div>
								</li>
								<li>
									{% if post.meta('gallery_image_4') %}
										<img src="{{ post.meta('gallery_image_4')}}" alt="{{post.title}} ~ '-image-4'" />
									{% else %}
										<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}} ~ '-placeholder">
									{% endif %}

									<div class="overlay"></div>
								</li>
								<li>
									{% if post.meta('gallery_image_5') %}
										<img src="{{ post.meta('gallery_image_5')}}" alt="{{post.title}} ~ '-image-5'" />
									{% else %}
										<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}} ~ '-placeholder">
									{% endif %}

									<div class="overlay"></div>
								</li>
								<li>
									{% if post.meta('gallery_image_6') %}
										<img src="{{ post.meta('gallery_image_6')}}" alt="{{post.title}} ~ '-image-6'" />
									{% else %}
										<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}} ~ '-placeholder">
									{% endif %}

									<div class="overlay"></div>
								</li>
								<li>
									{% if post.meta('gallery_image_7') %}
										<img src="{{ post.meta('gallery_image_7')}}" alt="{{post.title}} ~ '-image-7'" />
									{% else %}
										<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}} ~ '-placeholder">
									{% endif %}

									<div class="overlay"></div>
								</li>
								<li>
									{% if post.meta('gallery_image_8') %}
										<img src="{{ post.meta('gallery_image_8')}}" alt="{{post.title}} ~ '-image-8'" />
									{% else %}
										<img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="{{post.title}} ~ '-placeholder">
									{% endif %}

									<div class="overlay"></div>
								</li>
							</ul>
						</div>
					</div>
					{# {{post.content}} #}
				</div> 

				
        <div class="section-heading">
					<h3 class="title">JUST IN </h3>

					<h5 class="subtitle mb-0">INVENTORY</h5>
				</div>

				<div class="row mx-auto my-auto justify-content-center">
					<div id="multiCarousel2" class="multi-carousel multi-carousel-journal carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner" role="listbox">
							{% set ctr = 0 %}
							{% set placeholder = site.theme.link ~ '/assets/img/placeholder.jpeg' %}
							{% for key,post in latest %}
								<div class="row gx-2 carousel-item {% if key == 0  %} {{ 'active' }} {% endif %}">
									<div class="col-md-3">
										<a href="{{ post.link }}">
											<div class="card border-0">
												<img src="{{ post.thumbnail.src|default(placeholder) }}" alt="{{ post.title }}" class="card-img-top img-fluid card-img-fit" alt="...">

												<div class="card-body">
													<h5 class="card-title mb-0">{{ post.title }}</h5>
												</div>
											</div>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>

						<a class="carousel-control-prev bg-transparent w-aut" href="#multiCarousel2" role="button" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						</a>

						<a class="carousel-control-next bg-transparent w-aut" href="#multiCarousel2" role="button" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

	<script>
      function display() {
         window.print();
      }
   </script>
{% endblock %}
