{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		{% if post.thumbnail.src %}
			<div class="featured-container">
				<div class="featured" style="--bg-image: url({{ post.thumbnail.src }});"></div>
			</div>
		{% endif %}

		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="section-heading py-3 mt-5 mb-3">
					<h3 class="title">{{post.title}}</h3>
				</div>
				
				<div class="article-body">
					<div class="row">
						<div class="col-md-5 order-2 order-md-2">
							<aside class="car-info mb-5">
								<p><span class="text-uppercase">Year:</span> 1985</p>
								<p><span class="text-uppercase">Manufacturer:</span> Ferrari Model:</span> 288</p>
								<p><span class="text-uppercase">Model Variant:</span> GTO</p>
								<p><span class="text-uppercase">Exterior Color:</span> Rosso Corsa</p>
								<p><span class="text-uppercase">Interior Color:</span> Black</p>
								<p><span class="text-uppercase">Current Mileage:</span> 15,750 miles</p>
								<p><span class="text-uppercase">Version:</span> Eur25</p>
								<p><span class="text-uppercase">Chassis #ZFFPA16B000052739</p>
								<p><span class="text-uppercase">Engine Capacity/Power:</span> 2.9 liter, 4-valve, twin-turbocharged V8/394BHP</p>
								<p><span class="text-uppercase">Transmission:</span> 5-speed manual</p>
								<p><span class="text-uppercase">Top Speed:</span> 189MPH</p>
								<p><span class="text-uppercase">Designer:</span> Leonardo Fioravanti for Pininfarina (Styling) and Nicola Materazzi (Engineer) Limited</p>
								<p><span class="text-uppercase">Series:</span> 1 of 273</p>
								<p><span class="text-uppercase">Parent Company:</span> Ferrari S.p.A/FIAT</p>
								<p><span class="text-uppercase">Public Debut:</span> 1984 Geneva Salon</p>
								<p><span class="text-uppercase">Predecessor:</span> 250 GTO (spiritual) and 308</p>
								<p><span class="text-uppercase">Successor:</span> F40</p>
								<p><span class="text-uppercase">Years Produced:</span> 1984 – 1987</p>
								<p><span class="text-uppercase">Examples Produced in This Color:</span> 272</p>
								<p><span class="text-uppercase">Examples Produced in This Interior Package:</span> NA</p>
								<p><span class="text-uppercase">Examples Produced for U.S.:</span> 25 all federalized(estimated)</p>
								<p><span class="text-uppercase">Total Production:</span> 273</p>
								<p><span class="text-uppercase">Books & Tools:</span> Yes</p>
								<p><span class="text-uppercase">CarFAX:</span> Yes</p>
								<p><span class="text-uppercase">Notable ownership:</span> American fashion designer Ralph Lauren & notable car collector Bob Tkacik</p>
							</aside>

							<div class="car-details">
								<h4>MORE DETAILS</h4>

								<div class="content">
									{{post.content}}
								</div>
								<div class="cta">
									<button class="btn btn-primary btn-sm">INQUIRE</button>
									<button class="btn btn-primary btn-sm">CREATE PDF</button>
								</div>
							</div>
						</div>

						<div class="col-md-7 order-1 order-md-2">
							<div class="car-featured-image">
								<img class="img-fluid" alt="ferrari" src="https://images.pexels.com/photos/404190/pexels-photo-404190.jpeg" />
							</div>

							<ul class="car-gallery">
								<li>
									<img src="https://images.pexels.com/photos/404190/pexels-photo-404190.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
								<li>
									<img src="https://images.pexels.com/photos/2922140/pexels-photo-2922140.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
								<li>
									<img src="https://images.pexels.com/photos/2922140/pexels-photo-2922140.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
								<li>
									<img src="https://images.pexels.com/photos/10489450/pexels-photo-10489450.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
								<li>
									<img src="https://images.pexels.com/photos/404190/pexels-photo-404190.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
								<li>
									<img src="https://images.pexels.com/photos/2922140/pexels-photo-2922140.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
								<li>
									<img src="https://images.pexels.com/photos/2922140/pexels-photo-2922140.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
								<li>
									<img src="https://images.pexels.com/photos/10489450/pexels-photo-10489450.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
								<li>
									<img src="https://images.pexels.com/photos/2922140/pexels-photo-2922140.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
								<li>
									<img src="https://images.pexels.com/photos/10489450/pexels-photo-10489450.jpeg" alt="" />
									<div class="overlay"></div>
								</li>
							</ul>
						</div>
					</div>
					{# {{post.content}} #}
				</div> 
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
