<ul id="lightSlider-{{ title }}">
  {% set ctr = 0 %}
  {% for key,post in posts %}
    <li>
      <a href="{{ post.link }}">
        <div class="card border-0">
          <div class="image-container">
            <div class="dark-overlay"></div>

            {% if post.thumbnail.src %}
              <img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid card-img-fit" alt="...">
            {% else %}
              <img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="...">
            {% endif %}
          </div>

          <div class="card-body">
            <h5 class="card-title mb-0">{{ post.title }}</h5>
          </div>
        </div>
      </a>
      </li>
  {% endfor %}
</ul>

<script>
  $(document).ready(function() {
    $("#lightSlider-{{ title }}").lightSlider({
      item: 4,
      auto: true,
      pause: 5000,
      loop: true,
      prevHtml: '<span class="carousel-control-prev-icon" aria-hidden="true"></span>',
      nextHtml: '<span class="carousel-control-next-icon" aria-hidden="true"></span>',
    });
  });
</script>