<ul id="lightSlider-{{ title }}">
  {% set ctr = 0 %}
  {% for key,post in posts %}
    <li>
      <a href="{{ post.link }}">
        <div class="card border-0">
          <div class="image-container">
            <div class="dark-overlay"></div>

            {% if post.thumbnail.src %}
              <img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid card-img-fit" alt="...">
            {% else %}
              <img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="...">
            {% endif %}
          </div>

          <div class="card-body">
            <h5 class="card-title mb-0">{{ post.title }}</h5>
          </div>
        </div>
      </a>
      </li>
  {% endfor %}
</ul>

<div id="lightSlider-range-container-{{ title }}" class="lightslider-range-container">
  <div id="lightSlider-range-{{ title }}"></div>
</div>

<script>
  $(document).ready(function() {
    const lightSlider = $("#lightSlider-{{ title }}").lightSlider({
      item: 4,
      auto: false,
      pause: 5000,
      loop: false,
      enableTouch: false,
      enableDrag: false,
      freeMove: false,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            item: 3,
          }
        },
        {
          breakpoint: 600,
          settings: {
            item: 2,
          }
        }
      ],
      onSliderLoad: function (el) {
        const pagerParent = document.querySelector("#lightSlider-{{ title }}").parentElement.parentElement;
        const pager = pagerParent.querySelector(".lSPager");
        const isPagerActive = pager.querySelector("li");

        if (!isPagerActive) {
          const rangeContainer = document.getElementById("lightSlider-range-container-{{ title }}");
          rangeContainer.style = "display: none;";
        }

        pager.style = "display: none;";
      },
    });

    $("#lightSlider-range-{{ title }}").slider({
      step: 1,
      max: lightSlider.getTotalSlideCount(),
      slide: function( event, ui ) {
        const windowWidth = document.body.offsetWidth;

        let item = 4;

        if (windowWidth <= 992) {
          item = 3;
        } else if (windowWidth <= 600) {
          item = 2;
        }

        lightSlider.goToSlide(+ui.value - item);
      },
    });
  });
</script>
