<ul id="lightSlider-{{ title }}">
  {% set ctr = 0 %}
  {% for key,post in posts %}
    <li>
      <a href="{{ post.link }}">
        <div class="card border-0">
          <div class="image-container">
            <div class="dark-overlay"></div>

            {% if post.thumbnail.src %}
              <img src="{{ post.thumbnail.src }}" class="card-img-top img-fluid card-img-fit" alt="...">
            {% else %}
              <img src="{{ site.theme.link }}/assets/img/placeholder.png" class="card-img-top img-fluid card-img-fit" alt="...">
            {% endif %}
          </div>

          <div class="card-body">
            <h5 class="card-title mb-0">{{ post.title }}</h5>
          </div>
        </div>
      </a>
      </li>
  {% endfor %}
</ul>

<div id="lightSlider-range-container-{{ title }}" class="lightslider-range-container">
  <div id="lightSlider-range-{{ title }}"></div>
</div>

<script>
  $(document).ready(function() {
    const windowWidth = document.body.offsetWidth;
    let itemShown = 4;
    if (windowWidth <= 992) {
      itemShown = 3;
    } else if (windowWidth <= 600) {
      itemShown = 2;
    }

    const lightSlider = $("#lightSlider-{{ title }}").lightSlider({
      item: 4,
      auto: false,
      pause: 5000,
      loop: false,
      enableTouch: false,
      enableDrag: false,
      freeMove: false,
      responsive: [
        {
          breakpoint: 992,
          settings: {
            item: 3,
          }
        },
        {
          breakpoint: 600,
          settings: {
            item: 2,
          }
        }
      ],
      onSliderLoad: function (el) {
        const pagerParent = document.querySelector("#lightSlider-{{ title }}").parentElement.parentElement;
        const pager = pagerParent.querySelector(".lSPager");
        const numberOfCards = pagerParent.querySelectorAll(".lslide");

        console.log('number of cards: ' + numberOfCards.length);

        if (numberOfCards.length <= itemShown) {
          const rangeContainer = document.getElementById("lightSlider-range-container-{{ title }}");
          rangeContainer.style = "display: none;";
        }

        pager.style = "display: none;";
      },
    });

    let currentSlider = $("#lightSlider-{{ title }}")[0];
    const maxWidth = currentSlider.clientWidth;
    const carouselItem = currentSlider.querySelector("li");
    const carouselItemWidth = carouselItem.offsetWidth;
    const extraWidth = carouselItemWidth * itemShown;
    const actualMaxWidth = maxWidth - extraWidth;
    console.log(actualMaxWidth);
    
    $("#lightSlider-range-{{ title }}").slider({
      step: 1,
      max: actualMaxWidth,
      slide: function( event, ui ) {
        console.log('max: ' + actualMaxWidth);
        console.log("translate3d(-"+ ui.value +"px, 0px, 0px)");
        currentSlider.style.transform = "translate3d(-"+ ui.value +"px, 0px, 0px)";
      },
    });
  });
</script>
