<div id="carousel-{{ title }}" class="carousel product-carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for key,post in posts %}
        <button type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide-to="{{key}}" class="{% if key == 0  %} {{ 'active' }} {% endif %}" aria-current="{% if key == 0  %} {{ 'current' }} {% endif %}" aria-label="Slide {{key}}"></button>
    {% endfor %}
  </div>

  <div class="carousel-inner">
    {% set ctr = 0 %}
    {% for key,post in posts %}
      <div class="carousel-item {% if key == 0  %} {{ 'active' }} {% endif %}">
        <div class="bg-left w-100" style="--bg-image: url({{ post }});"></div>
      </div>
    {% endfor %}
  </div>

  <div class="overlay">
    <div class="overlay-content">
      <h2>{{ post.title }}</h2>

      <ul>
        <li>{{ post.meta('year') ? post.meta('year') : "#NA" }}</li>
        <li>{{ post.meta('manufacturer') ? post.meta('manufacturer') : "#NA" }}</li>
        <li>{{ post.meta('model') ? post.meta('model') : "#NA" }}</li>
        <li>{{ post.meta('model') ? post.meta('model') : "#NA" }}</li>
        <li>{{ post.meta('engine') ? post.meta('engine') : "#NA" }}</li>
      </ul>

      <a href="{{ post.link }}">
        <button type="button" class="btn btn-primary btn-sm">INQUIRE</button>
      </a>
    </div>

    <div class="overlay-background">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ title }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>